/* regular desktop styles */
@media only screen and (max-width: 1100px) {
    :root {
        --month-title-span: span 1;
    }

    body {
        height: unset;
        overflow-x: hidden;
        flex-direction: column;
        padding: 20px 0;
        justify-content: initial;
    }

    .nav-button {
        z-index: 10;
        height: 50px;
        width: 50px;
        display: block;
        position: fixed;
        left: 5px;
        top: 5px;
        opacity: 80%;
        rotate: initial;
        border-radius: 5px;
        background-color: var(--persona-5-red);
    }

    .nav-button.selected {
        background-color: var(--persona-5-dark-red);
    }

    nav {
        position: absolute;
        z-index: 9;
        top: 5px;
        left: 60px;
        width: 200px;
        margin: 0;

        .title, hr {
            display: none;
        }

        .trigger-number {
            display: none;
        }

        button {
            text-align: center;
        }

        #controls-button {
            display: none;
        }
    }

    #mobileHeading {
        display: block;
        margin: auto;
    }

    main {
        height: 100%;
        max-height: unset;
        max-width: 100vw;
        overflow: unset;

        .months-container, 
        .dates-container {
            grid-template-columns: repeat(7, 1fr);

            .day-of-week {
                display: none;
            }
        }

        .months-container {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .popup {
        max-height: unset;

        .close-button {
            position: fixed;
        }
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --start-on-sunday: span 1;
        --start-on-monday: span 1;
        --start-on-tuesday: span 1;
        --start-on-wednesday: span 1;
        --start-on-thursday: span 1;
        --start-on-friday: span 1;
        --start-on-saturday: span 1;

        --month-title-span: span 1;
    }

    main {
        .months-container, 
        .dates-container {
            grid-template-columns: repeat(4, 1fr);

            .red, .blue {
                color: white;
            }
        }

        .months-container {
            grid-template-columns: repeat(3, 1fr);
        }

        .output {
            h3 {
                max-width: calc(100% - 10px);
                left: 10px;
            }

            div {
                max-width: calc(100% - 20px);
                left: 20px;
            }
        }
    }
}