:root {
    --black: #000000;
    --pink: #E61475;
    --purple: #675FA8;
    --blue: #00A4E7;
    --green: #77bd2a;
    --yellow: #fef003;
    --white: #ffffff;

    --body-background: url('../assets/img/background/raw/bg_right.png') right top no-repeat,
                        url('../assets/img/background/raw/bg_left.png') left bottom no-repeat;

    /* --body-background: url('../assets/img/background/alt/bg_right.png') right bottom no-repeat,
                        url('../assets/img/background/alt/bg_left.png') left top no-repeat; */
}

@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popdown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes openNav {
    from {
        height: 0px;
        width: 0px;
        opacity: 0;
    }
    to {
        height: 300px;
        width: 300px;
        opacity: 1;
    }
}

@keyframes closeNav {
    from {
        height: 300px;
        width: 300px;
        opacity: 1;
    }
    33% {
        height: 300px;
        width: 300px;
        opacity: 1;
    }
    to {
        height: 0px;
        width: 0px;
        opacity: 0;
    }
}

@keyframes delayedFadeIn {
    from {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

body {
    color: var(--black);
    margin: 0;

    height: 100vh;
    width: 100vw;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;

    #background {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: -1;
        background: var(--body-background);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Indie Flower", cursive;
        font-weight: 1000;
        letter-spacing: 1px;
        /* margin: 0; */
    }

    input[type="checkbox"]
    {
        cursor: pointer;
        width: 16px;
        height: 16px;
    }

    label {
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;

        &:hover {
            text-decoration: underline;
        }

        .tooltip {
            display: inline-block;
            background-color: var(--blue);
            color: var(--white);
            border-radius: 50%;
            font-size: 12px;
            height: 20px;
            width: 20px;
            text-align: center;
            position: relative;
            top: -2px;

            @media screen and (max-width: 600px) {
                display: none;
            }
        }
    }

    input[type="range"] {
        position: relative;
        top: 5px;
    }

    .hidden {
        display: none;
    }

    button {
        cursor: pointer;
        border: 3px solid var(--black);
        border-radius: 50px;
        background-color: var(--white);
        color: var(--black);
        font-size: 12px;
        font-weight: 700;
        margin: 5px;
        padding: 5px 10px;
        transition: all 0.2s ease-in-out;
        height: 50px;
        min-width: 50px;

        box-shadow: 0px 3px 0 var(--black);

        &:hover {
            background-color: var(--yellow);
        }
    }
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 1;
    animation: popup 0.5s ease-in-out;
    align-content: center;

    .popup-close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
        color: var(--white);
        border: 2px solid var(--white);
        height: 40px;
        width: 40px;
        padding: 0;
    }

    &.dismissed {
        opacity: 0;
        animation: popdown 0.5s ease-in-out;
    }

    .reset-save-prompt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 18px;
        color: var(--black);
    }
}

main {
    /* max-width: 600px; */
    /* min-height: 100vh; */
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    max-width: 600px;
    margin: auto;

    #nav-open-button {
        box-shadow: 0 2px 0 var(--black);
        z-index: 3;

        &:hover {
            background-color: var(--white);
        }

        &.active {
            background-color: var(--yellow);
        }
    }

    nav {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
        box-sizing: border-box;

        height: 300px;
        width: 300px;
        padding: 10px 20px 20px 60px;
        border-radius: 20px;
        background-color: var(--blue);
        color: var(--white);

        &.dismissed {
            display: flex;
            animation: closeNav 300ms linear;
            height: 0px;
            width: 0px;
            opacity: 0;

            h1 {
                animation: fadeOut 100ms linear;
                opacity: 0;
            }

            .nav-button {
                animation: fadeOut 100ms linear;
                opacity: 0;
            }
        }

        &.active {
            display: flex;
            animation: openNav 200ms linear;
            opacity: 1;

            h1 {
                animation: delayedFadeIn 300ms linear;
            }

            .nav-button {
                animation: delayedFadeIn 300ms linear;
            }
        }

        h1 {
            text-align: center;
            width: 100%;
        }

        .nav-button {
            display: block;
            font-size: 20px;
            font-weight: 700;
            /* color: var(--white); */
            cursor: pointer;

            ::before {
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                background: url('../assets/img/buttons/ico_nav_off.svg') no-repeat center/contain;
            }

            &.active {
                color: var(--yellow);
                border-radius: 10px;

                ::before {
                    background: url('../assets/img/buttons/ico_nav_on.svg') no-repeat center/contain;
                }
            }
        }
    }

    #heading {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        position: relative;

        img {
            max-width: 250px;
            object-fit: contain;
        }
    
        h1 {
            margin: 10px;
            position: absolute;
            bottom: -24px;
            right: -6px;
            rotate: -11deg;
            /* add a white text stroke of 5px width */
            text-shadow: 2px 2px 0px var(--white), -2px -2px 0px var(--white), 2px -2px 0px var(--white), -2px 2px 0px var(--white);
        }
    }
}

section {
    display: none;
    padding: 0 20px 20px 20px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 100px;

    min-height: calc(100vh - 200px);

    animation: fadeIn 0.5s linear;

    &.active {
        display: block;
    }

    .page-heading {
        text-align: center;
    }
}

#home {
    flex-direction: column;
    text-align: center;

    table {
        margin: 20px auto;
        border-collapse: collapse;

        th, td {
            border: 1px solid var(--black);
            padding: 5px;
        }
    }

    #save-controls {
        margin-top: 30px;
    }
}

#evolution-chart {
    flex-direction: column;
    padding: 0;
    max-width: unset;

    summary {
        cursor: pointer;
        text-decoration: underline;
        margin-bottom: 20px;
    }

    #evolution-chart-controls {
        padding: 0 20px;

        .control {
            margin-bottom: 20px;
        }
    }

    #evolution-chart-scrollable-container {
        flex: 1;
        overflow: scroll;

        #evolution-chart-container {
            width: fit-content;
            margin: auto;

            .tama-container {
                display: flex;
                flex-direction: column;
                /* justify-content: space-around; */
                align-items: center;
            
                .selected {
                    background-color: var(--yellow);
                    border-radius: 10px;
                }
            
                .tama-evolves-from {
                    display: flex;
                    flex-direction: row;
                    margin: 2px;
                }
            
                .tama-evolves-to {
                    display: flex;
                    flex-direction: row;
                    margin: 2px;
                }
            
                .multiple-evolves-from {
                    border-bottom: #000000 2px solid;
                    border-radius: 15px;
                }
            
                .multiple-evolves-to {
                    border-top: #000000 2px solid;
                    border-radius: 15px;
                }
            
                .arrow {
                    margin: 0;
                }
            
                .evolution-requirement {
                    font-size: 10px;
                    margin: 0;
                }
            }
        }
    } 
}

#completion-diary {
    #filter-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

#dlc-characters {
    #dlc-selection-buttons {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 1px;
        margin-bottom: 20px;

        .dlc-button {
            cursor: pointer;
            margin: auto;
            border-radius: 5px;
            width: 40px;
            transition: all 0.2s ease-in-out;

            &:hover {
                scale: 1.1;
            }

            &.active {
                scale: 1.1;
            }
        }
    }

    #dlc-characters-table-container {
        display: flex;
        flex-direction: column;

        #dlc-characters-table {
            flex: 1;
            border-collapse: collapse;
            background-color: var(--white);

            h2 {
                color: var(--blue);
                text-decoration: underline;
                cursor: pointer;
            }

            thead, tbody {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

            td, th {
                border: 1px solid var(--black);
                padding: 5px;
            }

            .Unknown { color: var(--white); background-color: var(--green); }
            .Male { color: var(--white); background-color: var(--blue); }
            .Female { color: var(--white); background-color: var(--pink); }
            .Both { color: var(--white); background-color: var(--purple); }
        }
    }
}

#likes-dislikes {

    #likes-dislikes-controls {
        display: flex;
        flex-direction: column;

        select {
            /* make it look like a button */
            cursor: pointer;
            border: 3px solid var(--black);
            border-radius: 50px;
            background-color: var(--white);
            color: var(--black);
            font-size: 12px;
            font-weight: 700;
            margin: 5px;
            padding: 5px 10px;
            transition: all 0.2s ease-in-out;
        }
    }

    #likes-dislikes-table-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding-top: 20px;

        @media screen and (max-width: 400px) {
            grid-template-columns: 1fr;
        }

        table {
            flex: 1;
            border-collapse: collapse;
            background-color: var(--white);
            height: fit-content;

            thead, tbody {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

            td, th {
                border: 1px solid var(--black);
                padding: 5px;
            }
        }
    }
}

#pets {
    #pets-table-container {
        table {
            border-collapse: collapse;
            background-color: var(--white);

            thead, tbody {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

            th, td {
                border: 1px solid var(--black);
                padding: 5px;
            }

            .base {
                color: var(--white);
                background-color: var(--green);
            }

            .dlc {
                color: var(--white);
                background-color: var(--purple);
            }

            label {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

#care-icons {
    #care-icons-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;

        @media screen and (max-width: 550px) {
            grid-template-columns: repeat(2, 1fr);
        }

        .care-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border: 2px solid var(--black);
            box-shadow: 0px 2px 0px var(--black);
            background-color: var(--white);
            border-radius: 10px;
            padding: 10px;
            text-align: center;
        }
    }
}

.tama {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 5px;
    height: 110px;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    /* background-color: var(--blue); */
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &.acquired .image-container {
        font-family: "indie Flower", cursive;
        font-size: 30px;
        font-weight: bolder;
        color: var(--green);

        img {
            opacity: 0.75;
            filter: drop-shadow(2px -2px 0px var(--green));
        }

        &::after {
            content: '✔';
            position: absolute;
            right: -5px;
            bottom: -10px;
        }
    }

    /* &.hidden {
        display: none;
    } */

    .image-container {
        position: relative;
        height: 60px;
        width: 60px;
        padding: 5px;
        margin: 5px;
        box-sizing: border-box;
        /* background-color: var(--yellow); */
        border-radius: 5px;
        align-content: end;
        text-align: center;

        img {
            max-width: 50px;
            max-height: 50px;
            object-fit: contain;
            image-rendering: pixelated;
            justify-self: end;
        }
    }

    p {
        width: 75px;
        margin: 0;
        color: var(--white);
        border-radius: 5px;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        padding: 5px 0;
    }

    &:hover {
        scale: 1.1;
    }

    &.unknown p { background-color: var(--green); }
    &.male p { background-color: var(--blue); }
    &.female p { background-color: var(--pink); }
    &.both p { background-color: var(--purple); }
}

.tama-detailed {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: auto;
    max-width: 500px;
    padding: 20px;
    background-color: var(--blue);
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    h1 {
        color: var(--white);
        margin: 0;
    }
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: var(--yellow);

        img {
            width: 125px;
            height: 125px;
            object-fit: contain;
            image-rendering: pixelated;
        }
    }

    table {
        border-collapse: collapse;
        margin: 20px 0;
        width: 100%;

        th, td {
            padding: 10px;
            text-align: left;
            color: var(--white);
            border: 1px solid var(--white);
        }
    }

    label {
        color: var(--white);
    }

    a {
        color: var(--yellow);
        text-decoration: underline;
        font-weight: 700;
        padding: 0 5px;
    }
}

.tama-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    margin-bottom: 20px;

    /* &.hidden {
        display: none;
    } */
}