h1 {
    text-align: center;
}

#battlefield {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 columns */
    width: fit-content;
    gap: 5px; /* Add some spacing between characters */
    margin: auto;
}

button {
    display: block;
    margin: 20px auto;
}

.character {
    width: 70px; /* Adjust size as needed */
    height: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#fightArena {
    display: flex;
    width: fit-content;
    margin: 20px auto;
    gap: 50px;
}

#fighter1, #fighter2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

#combatLog {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    overflow-y: auto;
    padding: 10px;
}

.highlighted {
    background-color: yellow;
}

.defeated {
    background-color: palevioletred;
}

.shaking {
    animation: shake 0.4s linear forwards;
}

.fighter1attacking {
    animation: fighter1attack 0.4s ease-in-out forwards;
}

.fighter2attacking {
    animation: fighter2attack 0.4s ease-in-out forwards;
}

@keyframes shake {
    0%, 50%, 100% { transform: translate(0); }
    60%, 80% { transform: translate(5px, 0); }
    70%, 90% { transform: translate(-5px, 0); }
}

@keyframes fighter1attack {
    0%, 100% { transform: rotate(0deg); }
    20% { transform: rotate(-10deg) translate(-10px); }
    50% { transform: rotate(20deg) translate(20px); }
}

@keyframes fighter2attack {
    0%, 100% { transform: rotate(0deg); }
    20% { transform: rotate(10deg) translate(10px); }
    50% { transform: rotate(-20deg) translate(-20px); }
}
