/* when screen is less than 640px wide */

@media screen and (max-width: 640px) {
    header {
        left: 0;
        transform: unset;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        background-color: unset;

        #mobile-menu-button {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 30px;
            z-index: 10;
            border-radius: 0px 0px 20px 0px;
            background-color: var(--html-3);
            box-shadow: none;

            height: 80px;
            width: 80px;

            &.active {
                background-color: var(--html-2);
            }
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: fit-content;
            display: none;
            flex-direction: column;
            background-color: var(--html-3);
            border-radius: 0px 0px 20px 0px;
            padding: 80px 15px 15px 15px;
            margin: 0;
        }

        nav.active {
            display: flex;
        }

        .HUD {
            position: fixed;
            right: 0;
            top: 0;
            height: 80px;
            width: 80px;
            box-sizing: border-box;

            background-color: var(--html-3);
            border-radius: 0px 0px 0px 20px;
            padding: 20px;
        }
    }

    body {
        .container {
            margin-top: 80px;
        }
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 5px;
        padding: unset;
    }

    .card {
        height: 180px;
        width: 120px;
        padding: 0px;

        .card-image {
            height: 56px;
            width: 68px;
        }

        .card-details {
            .card-name {
                font-size: 16px;
            }

            table {
                font-size: 10px;
            }
        }
    }

    .upgrades, .owned-upgrades {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

        .upgrade {
            height: 270px;
            width: 180px;
        }
    }

    .jobs {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

        .job {
            flex-direction: column;
            height: 180px;
            width: 180px;

            .card-details {
                width: unset;
            }
        }
    }

    .job-viewer-container {
        flex-direction: column;
        max-height: unset;
        padding: 5px;

        .job-viewer {
            img {
                height: 56px;
                width: 68px;
            }
        }

        .monster-assigner {
            max-height: calc(100vh - 200px);
            padding: 5px;
        }
    }
}