/* #region variables */
:root {
    --coin-color: #808080;
    --common-color: #f5f5f5;
    --uncommon-color: #90ee90;
    --rare-color: #add8e6;
    --epic-color: #800080;
    --legendary-color: #ffd700;
    --shiny-gradient: linear-gradient(45deg, transparent, #00ff00, transparent, #ff00ff, transparent, #0099ff, transparent);;

    --html-0: #0f1f25;
    --html-0-transparent: #0f1f2580;
    --html-1: #214553;
    --html-1-transparent: #21455380;
    --html-2: #32667a;
    --html-2-transparent: #32667a80;
    --html-3: #4893b1;
    --html-3-transparent: #4893b180;
    --html-4: #52a2c2;
    --html-5: #ffd966;

    --bug-color: #90c12c;
    --dark-color: #5a5366;
    --dragon-color: #0a6dc4;
    --electric-color: #f3d23b;
    --fairy-color: #ec8fe6;
    --fighting-color: #ce4069;
    --fire-color: #ff9c54;
    --flying-color: #8fa8dd;
    --ghost-color: #5269ac;
    --grass-color: #63bb5b;
    --ground-color: #d97746;
    --ice-color: #74cec0;
    --normal-color: #9099a1;
    --poison-color: #ab6ac8;
    --psychic-color: #f97176;
    --rock-color: #c7b78b;
    --steel-color: #5a8ea1;
    --water-color: #4d90d5;

    --selected-border: 2px outset #006000;
    --selected-color: #48b156;
    --selected-hover-color: #52c26a;

    --button-color: darkgreen;
    --button-hover-color: green;
    --button-disabled-color: gray;

    --transparent-common-color: rgba(245, 245, 245, 0.5); /* whitesmoke */
    --transparent-uncommon-color: rgba(144, 238, 144, 0.5); /* lightgreen */
    --transparent-rare-color: rgba(173, 216, 230, 0.5); /* lightblue */
    --transparent-epic-color: rgba(128, 0, 128, 0.5); /* purple */
    --transparent-legendary-color: rgba(255, 215, 0, 0.5); /* gold */

    --common-background: url('../images/card/common.webp'), var(--transparent-common-color);
    --uncommon-background: url('../images/card/common.webp'), var(--transparent-uncommon-color);
    --rare-background: url('../images/card/rare.jpg'), var(--transparent-rare-color);
    --epic-background: url('../images/card/rare.jpg'), var(--transparent-epic-color);
    --legendary-background: url('../images/card/rare.jpg'), var(--transparent-legendary-color);

    --title-font: Pokemon-DP-Bold, system-ui;
    --general-font: Pokemon-DP, system-ui;
}

@font-face {
    font-family: Pokemon-DP;
    src: url('../fonts/Pokemon-DP.ttf') format('truetype'), system-ui;
}

@font-face {
    font-family: Pokemon-DP-Bold;
    src: url('../fonts/Pokemon-DP-Bold.ttf') format('truetype'), system-ui;
}

@keyframes popupAnimation {
    from {
        transform: scale(0);
        opacity: 100%;
    }
    10% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(1);
    }
    70% {
        transform: scale(1) translateY(0);
        opacity: 100%;
    }
    90% {
        transform: scale(1) translateY(-50px);
        opacity: 0%;
    }
    to {
        transform: scale(1) translateY(-50px);
        opacity: 0%;
    }
}

@keyframes gradient-animation {
    0% {
        rotate: 180deg;
    }
    50% {
        rotate: -180deg;
    }
    100% {
        rotate: 180deg;
    }
}

@keyframes shinyPopupAnimation {
    from {
        transform: scale(0);
        rotate: -360deg;
        opacity: 100%;
    }
    10% {
        transform: scale(1.6);
        rotate: 45deg;
    }
    20% {
        transform: scale(1.2);
        rotate: 0deg;
    }
    70% {
        transform: scale(1.2) translateY(0);
        opacity: 100%;
        rotate: 0deg;
    }
    90% {
        transform: scale(1.2) translateY(-75px);
        opacity: 0%;
        rotate: 0deg;
    }
    to {
        transform: scale(1.2) translateY(-75px);
        opacity: 0%;
        rotate: 0deg;
    }
}

@keyframes cardAppearAnimation {
    from {
        opacity: 0%;
        top: -20px;
    }
    70% {
        top: 5px;
    }
    to {
        opacity: 100%;
        top: 0px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes subtlePulse {
    from {
        background-color: var(--html-2);
    }
    50% {
        background-color: var(--html-3-transparent);
    }
    to {
        background-color: var(--html-2);
    }
}
/* #endregion variables */

html {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--html-0);
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;

    font-family: var(--general-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    h1 {
        font-size: 60px;
        font-family: var(--title-font);
        font-weight: 400;
        font-style: normal;
    }

    button {
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        color: white;
        background-color: var(--button-color);
        transition: scale 0.1s ease-in-out, background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

        font-family: var(--general-font);
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

        &:disabled {
            background-color: var(--button-disabled-color);
            cursor: default;
        }

        &:hover:not([disabled]) {
            background-color: var(--button-hover-color);
            scale: 1.05;
            box-shadow: 5px 5px var(--html-0-transparent);
        }
    }
    
    main {
        max-width: 1240px;
        margin: auto;
        background-color: var(--html-1);
        box-sizing: border-box;
        padding: 10px;
        min-height: 100vh;
    }
    
    .container {
        display: none;
        min-height: 100px;
        min-width: 100px;
        margin-top: 120px;
        animation: fadeIn 1s ease-in-out;

        &.active {
            display: block;
        }
    }
}

header {
    display: flex;
    align-items: center;
    background-color: var(--html-2);
    border-radius: 0px 0px 20px 20px;
    padding: 10px 20px;
    position: fixed;
    box-sizing: border-box;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    height: 120px;
    width: calc(100% - 20px);
    max-width: 1300px;
    z-index: 10;

    #mobile-menu-button {
        display: none;
    }

    h1 {
        margin: 0 20px 0 0;
        font-size: 40px;
        text-align: center;
        overflow: visible;
    }

    nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
        margin: 20px;

        .notifying {
            animation: subtlePulse 1s ease-in-out infinite;
        }

        button {
            background-color: var(--html-2);
            padding: 20px;
            color: white;
            flex: 1;
            border-radius: 0px;

            &:hover:not([disabled]) { background-color: var(--html-3); }

            &.active {
                background-color: var(--html-4);
                &:hover { background-color: var(--html-4);}
            }
        }
    }

    .HUD {
        p {
            text-align: right;
            margin: 0px;
            font-size: 16px;
        }
    }
}

/* #region Cards & Card Containers */

.card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: var(--html-2);
    margin: 10px 0px;
}

.card {
    position: relative;
    height: 300px;
    width: 200px;
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
    background-size: cover;
    overflow: hidden;
    border: 5px outset var(--html-2);
    background-color: var(--html-3);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    cursor: pointer;
    animation: cardAppearAnimation 0.2s ease-in-out;

    .card-type {
        position: absolute;
        top: 0px;
        left: 0px;

        display: flex;
        flex-direction: row;
        height: 20px;
        width: auto;
        background-color: black;
        border-radius: 0 0 5px 0;

        img {
            height: 20px;
        }
    }

    .card-ID {
        position: absolute;
        top: 0px;
        right: 0px;

        height: 20px;
        width: 30px;
        text-align: center;
        background-color: black;
        color: white;
        border-radius: 0 0 0 5px;
    }

    .card-image {
        height: 100px;
        width: 121px;
        flex-shrink: 0;
        border-radius: 20px;
        margin: 5px auto;
        background-color: white;
        border: 2px outset transparent;
    }

    .card-details {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 5px;
        background: var(--html-1-transparent);
        color: white;
        border-radius: 20px;

        .card-name {
            font-family: var(--title-font);
            font-weight: 400;
            font-size: 22px;
            background-color: var(--html-2);
            border-radius: 10px;
            text-align: center;
        }

        table {
            font-size: 14px;
            margin: 0px;
            padding: 0px;

            tr {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            td, th {
                flex: 1;
                text-align: center;
                padding: 0px;
                margin: 0px;
            }
        }

        p {
            display: block;
            margin: 0px;
        }

        .sacrifice-button:not([disabled]) {
            color: black;
            background-color: goldenrod;

            &:hover {
                background-color: gold;
            }
        }
    }

    &.placeholder {
        animation: unset;
    }

    button {
        margin-top: auto;
    }

    /* when the card is hovered over, it should smoothly transition to 110% scale and smoothly cast a shadow toward the bottom right */
    &:hover {
        transform: scale(1.05);
        box-shadow: 5px 5px var(--html-0-transparent);
        background-color: var(--html-4);
        z-index: 1;
    }

    &.coin, &.Poor {
        background: var(--common-background);
        background-blend-mode: color-burn;
        border: 5px outset var(--coin-color);
        img {border-color: var(--coin-color);}
    }
    &.common, &.Average {
        background: var(--common-background);
        background-blend-mode: color-dodge;
        border: 5px outset var(--common-color);
        img {border-color: var(--common-color);}
    }
    &.uncommon, &.Good {
        background: var(--uncommon-background);
        background-blend-mode: luminosity;
        border: 5px outset var(--uncommon-color);
        img {border-color: var(--uncommon-color);}
    }
    &.rare, &.Great {
        background: var(--rare-background);
        background-blend-mode: color-burn;
        border: 5px outset var(--rare-color);
        img {border-color: var(--rare-color);}
    }
    &.epic, &.Excellent {
        background: var(--epic-background);
        background-blend-mode: luminosity;
        border: 5px outset var(--epic-color);
        img {border-color: var(--epic-color);}
    }
    &.legendary, &.Amazing {
        background: var(--legendary-background);
        background-blend-mode: overlay;
        border: 5px outset var(--legendary-color);
        img {border-color: var(--legendary-color);}
    }

    &.selected {
        transform: scale(1.05);
        box-shadow: 5px 5px var(--html-0-transparent);
        z-index: 1;
    }

    &.shiny, &.Godly {
        &::before {
            display: block;
            position: absolute;
            width: 200%;
            height: 200%;

            content: '';
            background: var(--shiny-gradient);
            background-size: 130%;
            animation: gradient-animation 10s ease-in-out infinite;
            opacity: 50%;
            top: -50%;
            left: -50%;
            pointer-events: none;
        }

        img, .card-details, .card-ID, button {
            color: var(--html-5);
            z-index: 1;
        }
        .card-details {
            background-color: var(--html-2);

            .card-name {
                background-color: var(--html-1);
            }
        }
    }
}
/* #endregion Cards & Card Containers */

/* #region Cardpacks & Opener */
.cardpacks {
    .cardpack {
        .card-details {
            font-size: 14px;
        }
    }

    .selected {
        border: var(--selected-border);
        background-color: var(--selected-color);
    }
    .selected:hover {
        background-color: var(--selected-hover-color);
    }
}

.opener {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: var(--html-2);

    .reward {
        position: relative;
        overflow: hidden;
        pointer-events: none;
        width: 100%;
        height: 100%;

        .popup {
            position: absolute;
            bottom: 0;
            left: 0;
            animation: popupAnimation 3s ease-in-out;

            .card {
                height: 180px;
                width: 120px;

                .card-image {
                    height: 56px;
                    width: 68px;
                }

                .card-details {
                    .card-name {
                        font-size: 16px;
                    }

                    table {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .goal {
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: red;
    }

    .spelling-bee {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
        font-size: 30px;

        p {
            margin: 5px;
        }
    }

    .progress-bar {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;

        height: 30px;
        width: 0%;
        margin: 0 auto;
        border-radius: 5px;
        color: black;
        background-color: white;
        transition: width 0.01s ease-in-out;
        text-align: center;
    }

    .cardpack-opener {
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 100px);
        transition: scale 0.1s ease-in-out, 
                    background-color 0.1s ease-in-out, 
                    box-shadow 0.1s ease-in-out, 
                    left 0.01s linear, 
                    top 0.01s linear;

        display: block;
        text-align: center;
        width: 200px;
        height: 100px;
        border-radius: 10px;
        font-size: 20px;
    }
}
/* #endregion Cardpacks & Opener */

/* #region Collection */
/* .collection {
    
} */

.collection-buttons {
    display: flex;
    height: 200px;
    width: 100%;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    background-color: var(--html-2);

    button {
        margin: auto;
        height: 100px;
        width: 300px;
    }

    #sacrifice-all-button:not([disabled]) {
        background-color: goldenrod;

        &:hover {
            background-color: gold;
        }
    }
}
/* #endregion Collection */

/* #region Upgrades */
.upgrades, .owned-upgrades {
    font-size: 14px;

    .upgrade {
        .card-name {
            font-size: 14px;
        }

        &.unavailable {
            display: none;
        }
    }

    
}
/* #endregion Upgrades */

/* #region Jobs */
.jobs {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    margin-bottom: 0px;

    .job {
        height: 130px;
        width: 330px;
        flex-direction: row;
        cursor: pointer;

        .card-details {
            width: 200px;
            box-sizing: border-box;
        }
    }
}

.job-viewer-container {
    display: flex;
    flex-direction: column;
    /* min-height: 450px; */
    height: 100%;
    max-height: calc(100vh - 180px);
    /* border: 2px solid var(--html-0); */
    border-radius: 0 0 20px 20px;
    background-color: var(--html-2);
    padding: 20px;

    .job-viewer {
        flex: 1;
        padding: 20px;
        border-radius: 20px 20px 0 0;
        background-color: var(--html-1);

        img {
            height: 100px;
            width: 121px;
            flex-shrink: 0;
            background-color: var(--html-3);
            border-radius: 5px;
        }

        .performance-details {
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding: 20px;
            background-color: var(--html-2);
        }
    }

    .monster-assigner {
        overflow: scroll;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        background-color: var(--html-1);
        box-sizing: border-box;
        flex: 1;
        border-radius: 0 0 20px 20px;
        margin-top: 0px;

        .monster {
            height: 225px;
            width: 150px;
            font-size: 14px;

            .card-image {
                height: 56px;
                width: 68px;
            }

            .card-name, button {
                font-size: 20px;
            }

            button {
                font-size: 14px;
            }
        }
    }
}
/* #endregion Jobs */

/* #region Settings */
.settings {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 20px;
    border: 2px solid var(--html-0);
    background-color: var(--html-2);

    .setting {
        background-color: var(--html-3);
        margin: 10px;
        padding: 10px;

        p {
            margin: 0;
        }
    }
}
/* #endregion Settings */

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: fit-content;
    z-index: 2;
    pointer-events: none;

    .messageContainer {
        position: fixed;
        right: 10px;
        bottom: 10px;
        z-index: 2;

        .message {
            width: fit-content;
            text-align: right;
            margin: 0px;
            margin-left: auto;
            color: lightgreen;
            background-color: #00000080;
            padding: 10px;
            opacity: 0;
            transition: opacity 1s ease-in-out;
            z-index: 2;
        }
    }
}
