body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}

main {
    background: rgba(0, 255, 174, 0.473);
    animation: flickering-lights 1.5s linear infinite;
    border-radius: 20px;
}

@keyframes flickering-lights {
    0%, 20%, 60%, 80%, 100%{
        opacity: 0.99;
    }
    10%, 35%, 45%, 70%, 90% {
        opacity: 0.95;
    }
    40% {
        opacity: 0.80;
    }

}

#storyOutput {
    color: #1beb00;
}