body {
    height: 100vh;
    background-color: black;
    color: white;
}

header {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

main {
    max-width: 1200px;

}

.link-img {
    max-width: 400px;
    width: 100%;
    margin: 15px;
}