:root {
    --primary-background: #39484d;
    --secondary-background: #30393d;
    --primary: #426451;
    --secondary: #1c8871;
    --tertiary: #3c949b;
    --text-primary: #94BFBE;
    --text-secondary: #25db7d;
    --text-tertiary: #2eff93;
    --drop-shadow: rgba(0, 0, 0, 0.2);
}

/* Body / Main */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: var(--primary-background);
    color: var(--text-primary);
}
main {
    background: var(--secondary-background);
    max-width: 800px;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--drop-shadow);
}

/* headings */
h1, h2 {
    text-align: center;
    font-family: 'Verdana', sans-serif;
    color: var(--text-secondary);
}
h1 {
    font-size: 3.5em;
    animation: pulse 2s ease-in-out infinite;
}
h3, a {
    font-family: 'Verdana', sans-serif;
    color: var(--text-secondary);
}
a:hover {
    color: var(--text-tertiary);
}

/* nav bar */
.navigationbar {
    text-align: center;
    margin-bottom: 20px;
}

/* buttons */
button {
    background: var(--primary);
    color: var(--text-primary);
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 53px;
}
button:hover {
    background: var(--secondary);
    cursor: pointer;
}

/* dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: var(--secondary);
    min-width: 200px;
    box-shadow: 0 8px 16px 0 var(--drop-shadow);
    z-index: 1;
}
.dropdown-content a {
    color: var(--text-primary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background: var(--tertiary);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background: var(--secondary);
}

/* animation */
@keyframes pulse {
    0%, 100% {
        transform: scale(0.9);
        color: var(--text-secondary);
    }

    50% {
        transform: scale(1);
        color: var(--text-primary);
    }
}