@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #222;
        --text-color: #ffd;
    
        /* --chessboard-grid: #000; */
    
        --cell-white: #444;
        --cell-black: #333;
        --cell-highlight: #740;
        --cell-highlight-piece: #a65;
    
        /* --piece-available: 3px #732 solid; */
        --piece-selected: #732;
        --piece-selected-enemy: #f87;
        --piece-highlight: #f87;
    
        --popup-color: #594;
    }
}