@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #444;
        --text-color: white;
    
        --chessboard-grid: #000;
    
        --cell-white: #333;
        --cell-black: #222;
        --cell-highlight: #740;
        --cell-highlight-piece: #a65;
    
        --cell-white-moved-from: #cca;
        --cell-black-moved-from: #462;
        --cell-moved-to: 3px darkgreen solid;
        --cell-available: 3px #732 solid;
        --cell-selected: #732;
    
        --arrow-color: red;
    
        --popup-color: rgb(83, 47, 0);
    }
}