:root {
  --Black: #000;
  --White: #fff;

  --Bistre: #3A2513;
  --CafeNoir: #543518;
  --Coffee: #6C4F37;
  --RawUmber: #8a654b;
  --Chamoisee: #a97c57;
  --Dun: #d9c1a8;
  --Almond: #F0D9C0;
  --ForestGreen: #388E3C;
  --PigmentGreen: #4CAF50;
  
  --DropShadow: rgba(0, 0, 0, 0.4);
}

body {
  /*background-color: var(--Almond);*/
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.homebtn {
  margin: 0px;
  width: 10%;
}

header {
  padding: 1rem 0;
}

.header-container {
  margin: auto;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#characterSheet {
  display: flex;
  flex-direction: column;
  margin: auto;

  background-color: var(--Coffee);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--DropShadow);
  font-family: 'Georgia', serif;
  max-width: 560px;
}

h1 {
  margin: 10px 20% 0 5%;
  font-size: 36px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px var(--DropShadow);
  animation: headingAnimation 2s infinite;
}

h2 {
  margin: 10px 0;
  font-size: 24px;
  color: var(--Almond);
}

table {
  border-collapse: collapse;
  min-width: 70%;
  max-width: 100%;
  margin: 20px auto;
  background-color: var(--Chamoisee);
  border: 1px solid var(--RawUmber);
  box-shadow: 0 1px 2px var(--DropShadow);
  table-layout: auto;
}

th {
  background-color: var(--RawUmber);
}

th,
td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid var(--RawUmber);
  color: var(--Dun);
}

button {
  padding: 10px 20px;
  margin: 30px 0px;
  background-color: var(--PigmentGreen); /* Nice green button color */
  border: none;
  color: var(--Almond);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 6px;
  box-shadow: 0 4px 6px var(--DropShadow); /* Drop shadow */
}

button:hover {
  background-color: var(--ForestGreen); /* Darker green on hover */
  transform: scale(1.05);
}

@keyframes headingAnimation {
  0%, 100% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
}

/* Define animation */
@keyframes bulgeAnimation {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

/* Apply animation class */
.animate {
  animation: bulgeAnimation 0.5s ease-in-out forwards;
}

.footer {
  text-align: center;
  padding: 10px;
  position: sticky;
  bottom: 0;
}

th:nth-child(1),
td:nth-child(1) {
    min-width: auto;
    width: 35%;
}

th:nth-child(2),
td:nth-child(2) {
    min-width: auto;
    width: 65%;
}