body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#questBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #eee;
    padding: 15px;
    border-radius: 5px;
}

#questDialog {
    margin: 0;
}

#questControlBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#continueButton {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
}

#characterInfo {
    float: right;
    width: 30%;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
}

#characterInfo h2 {
    margin-top: 0;
}

#characterInfo #playerStatElements {
    background-color: #39a6f0;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.XPBar {
    text-align: center;
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ffffff44;
    overflow: hidden;
}

.XPFill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #4CAF50;
    transition: width 0.5s ease;
    z-index: 1;
}

.XPText {
    position: relative;
    z-index: 2;
}