/* general */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

main {
    height: 70vh;
}

.page-column {
    min-height: 100px;
    max-height: 70vh;
    margin: 0;
}

/* header */
header {
    max-width: 100vw;
    margin: auto;
}

#settings {
    background-color: #ffffff83;
    align-items: center;
    position: absolute;
    width: 95%;
}

#headerImage {
    max-width: 250px;
    width: 100%;
    height: auto;
    z-index: 1;
}

/* left column */
#leftColumn {
    display: none;
}

/* middle column */
#middleColumn {
    display: flex;
}

#incomeTable {
    display: none;
}

/* right column */
#rightColumn {
    display: none;
}

/* footer */
footer {
    max-height: 15vh;
    min-height: 125px;
    width: 100%;
    margin: 0;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: radial-gradient(ellipse at center, #e8d9c2, #d3c7aa, #bfae8b);
}

footer .column, footer .row {
    width: 100%;
}

footer button {
    padding: 12px;
    font-size: 20px;
    min-height: 60px;
    height: 50%;
    margin-top: 0;
    margin-bottom: 0;
    width: 33%;
    margin: 15px;
}

#middleFooterButton {
    background-color: #8c6d4f;
}

#footerIncomeDetails {
    margin: auto;
    justify-content: space-between;
    max-width: 300px;
    margin-bottom: 0;
    padding: 0;
}