:root {
    --Black: #000;
    --White: #fff;

    --SpaceCadet: #1B2845;
    --IndigoDye: #274060;
    --LapisLazuli: #335C81;
    --SteelBlue: #467EAF;
    --UnitedNationsBlue: #659cda;
    --UranianBlue: #81b6f0;
    
    --DropShadow: rgba(0, 0, 0, 0.4);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--SpaceCadet);
    color: var(--White);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--IndigoDye);
    padding: 1rem 0;
}

.header-container {
    margin: auto;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.homebtn {
    margin: 0px;
    width: 10%;
}

h1 {
    margin: 0 20% 0 5%;
}

.generator {
    max-width: 568px;
    margin: 2rem auto;
    padding: 16px;
    background-color: var(--SteelBlue);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--DropShadow);
    display: flex;
    flex-direction: column;
}

button {
    background-color: var(--UnitedNationsBlue);
    color: var(--White);
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 10px auto;
    cursor: pointer;
}

button:hover {
    background-color: var(--UranianBlue);
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid var(--UranianBlue);
    text-align: left;
}

th {
    background-color: var(--SpaceCadet);
    color: var(--White);
    text-align: center;
}

td {
    text-align: left;
}

tr:nth-child(odd) {
    background-color: var(--LapisLazuli);
}

tr:nth-child(even) {
    background-color: var(--IndigoDye);
}

tr:hover {
    background-color: var(--SteelBlue);
}

th:nth-child(1),
td:nth-child(1) {
    width: 25%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 65%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 10%;
}

footer {
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: text;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.TailChanceControl,
.WingChanceControl {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.TailChanceControl input,
.WingChanceControl input {
    padding: 0 0 0 0;
    font-size: 16px;
    user-select: none;
    min-width: 100px;
}

summary:hover {
    cursor: pointer;
}