body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    padding: 10px;
    gap: 10px;
    display: flex;
}

.nav-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.monsters,
.character-sheets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.monster {
    margin: 10px;
    padding: 10px;
    background: #e8e8e8;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.character-sheet {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #f3e1af;
    padding: 10px;
    margin: 10px;

    .character-info-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .character-name {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;

            h1 {
                text-align: center;
                margin: 0;
            }

            p {
                margin: 0;
            }
        }

        table {
            border-collapse: collapse;
            width: 100%;

            th {
                padding: 12px;
                padding-top: 20px;
                background-color: #f2f2f2;
                text-align: center;
            }

            td {
                background-color: #fff;
                text-align: left;
                font-size: small;
            }
        }
    }
    
    .character-info-body {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .abilities {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            .ability-square {
                display: flex;
                flex-direction: column;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 5px;
                text-align: center;

                h1 {
                    margin: 0;
                }

                p {
                    margin: 0;
                }
            }
        }

        .character-info-body-main {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            .hp-ac {
                display: flex;
                flex-direction: row;
    
                .hp-ac-square {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 5px;
                    text-align: center;
    
                    h1 {
                        margin: 0;
                    }
    
                    p {
                        margin: 0;
                    }
                }
            }

            .equipment, .spells, .actions {
                display: flex;
                flex-direction: column;
                margin-top: 10px;

                h1 {
                    margin: 0;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}

.log {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
}

.controls {
    margin-top: 20px;
    text-align: center;
}