body {
    background-color: #1E1E1E;
    color: #CCCCCC;
    font-family: 'Arial', sans-serif;
    margin: auto;
    max-width: 600px;
}

header {
    background-color: #333333;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto 20px;
}

h1, h2, h3 {
    color: #FFD700;
}

label {
    color: #FFD700;
    margin-top: 10px;
    display: block;
}

select {
    background-color: #333333;
    color: #CCCCCC;
    border: 1px solid #666666;
    padding: 5px;
    margin-top: 5px;
}

button {
    background-color: #FFD700;
    color: #1E1E1E;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #FFFF00;
}

.recipe-container {
    background-color: #333333;
    border: 1px solid #666666;
    padding: 10px;
    margin-top: 10px;
}

.recipe-container p {
    color: #CCCCCC;
}

ol, ul {
    padding: 10px;
    margin: 0;
    list-style-position: inside;
    background-color: #1E1E1E;
}

ol li:nth-child(even),
ul li:nth-child(even) {
    color: #CCCCCC;
    background-color: #2D2D2D;
    padding: 8px;
    border-radius: 5px;
}

ol li:nth-child(odd),
ul li:nth-child(odd) {
    color: #CCCCCC;
    background-color: #333333;
    padding: 8px;
    border-radius: 5px;
}