body {
    background-color: #1E1E1E;
    color: #CCCCCC;
    font-family: 'Arial', sans-serif;
    margin: auto;
    max-width: 600px;

    h1, h2, h3 {
        color: #FFD700;
    }
}

header {
    background-color: #333333;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 20px;

    button, p {
        max-width: 60px;
        max-height: 60px;
        width: 100%;
    }
}

label {
    color: #FFD700;
    margin-top: 10px;
    display: block;
}

select {
    background-color: #333333;
    color: #CCCCCC;
    border: 1px solid #666666;
    padding: 5px;
    margin-top: 5px;
}

button {
    background-color: #FFD700;
    color: #1E1E1E;
    padding: 5px 10px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #FFFF00;
    }
}

.recipe-container {
    background-color: #333333;
    border: 1px solid #666666;
    padding: 10px;
    margin-top: 10px;

    p {
        color: #CCCCCC;
    }
}

ol, ul {
    padding: 10px;
    margin: 0;
    list-style-position: inside;
    border-radius: 5px;
    background-color: #1E1E1E;

    li {
        color: #CCCCCC;
        margin-bottom: 2px;
        padding: 8px;
        border-radius: 5px;
    }

    li:nth-child(even) {
        background-color: #2D2D2D;
    }

    li:nth-child(odd) {
        background-color: #333333;
    }
}