body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #d2b48c; /* Darker beige background */
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    background-color: #dad1c4; /* Lighter beige with a hint of gray */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
}

#propertyButtons {
    margin-top: 20px;
}

.property-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #a38769; /* Lighter brown border */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e4d9cb; /* Lighter beige background for each property container */
}

.property-container p {
    font-size: 16px;
    font-weight: bold;
    color: #594f42; /* Darker brown text color */
}

.property-container button {
    margin-top: 5px;
    padding: 8px 15px;
    font-size: 14px;
    background-color: #a38769; /* Brown button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.property-container button:hover {
    background-color: #8c6d4f; /* Darker brown on hover */
}

#income, #money {
    font-size: 18px;
    margin-top: 10px;
    color: #594f42; /* Darker brown text color */
}

#workButton {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #8c6d4f; /* Darker brown button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#workButton:hover {
    background-color: #735c3f; /* Darker brown on hover */
}

#saveControls {
    margin-top: auto;
    width: 100%;
}
