/* General */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #d2b48c;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.page-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    background-color: #dad1c4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.title {
    margin: 5px;
    padding: 5px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #594f42;
}

.description {
    margin: 5px;
    padding: 5px;
    text-align: left;
}

/* Left/Right Column */

#propertiesView,
#upgradesView {
    margin-top: 20px;
}

.purchaseable-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #a38769;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e4d9cb;
}

.purchaseable-container button {
    margin-top: 5px;
    padding: 8px 15px;
    font-size: 14px;
    background-color: #a38769;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.purchaseable-container button:hover {
    background-color: #8c6d4f;
}

/* Middle Column */

#businessName {
    font-size: 32px;
    text-align: center;
    background: none;
    border: none;
}

#income,
#money {
    font-size: 18px;
    margin-top: 10px;
    color: #594f42;
}

#jobContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #a38769;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e4d9cb;
}

#workExperienceBar {
    position: relative;
    width: 100%;
    height: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 10px;
}

#workExperienceFill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #4CAF50;
    /* Green color for the filled part */
    transition: width 0.5s ease;
    /* Add a smooth transition effect */
    z-index: 1;
    /* Set a negative z-index to place it behind other elements */
}

#workExperienceNumber {
    position: relative;
    z-index: 2;
    /* Set a positive z-index to place it in front of other elements */
}

#messageOutput {
    margin-top: auto;
    margin-bottom: auto;
    opacity: 1;
    transition: opacity 3s ease-in-out;
}

#messageOutput.fade {
    opacity: 0;
}

#workButton {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #8c6d4f;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#workButton:hover {
    background-color: #735c3f;
}

#saveControls {
    margin-top: auto;
    width: 100%;
}