:root {
    --night-background: linear-gradient(to bottom, #0c1445, #000000);
    --night-text: #f0f0f0;

    --day-background: linear-gradient(to bottom, #87cfeb, #ffffff);
    --day-text: #000000;
}

.day {
    background: var(--day-background);
    color: var(--day-text);
}

.night {
    background: var(--night-background);
    color: var(--night-text);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: all 1s ease;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#percentage {
    color: inherit;
    cursor: pointer;
    font-size: 3rem;
    font-weight: normal;
    border-radius: 50%;
    filter: hue-rotate(45deg) brightness(1.5) contrast(1.2);
}

@keyframes textAnimation {
    0%, 100% {
        transform: scale(1.1) rotate(15deg);
    }
    12.5% {
        transform: scale(1.2) rotate(-15deg);
    }
    25% {
        transform: scale(0.9) rotate(375deg);
    }
    37.5% {
        transform: scale(1.0) rotate(345deg);
    }
    50% {
        transform: scale(1.1) rotate(375deg);
    }
    62.5% {
        transform: scale(1.2) rotate(345deg);
    }
    75% {
        transform: scale(0.9) rotate(15deg);
    }
    87.5% {
        transform: scale(1.0) rotate(-15deg);
    }
}

/* time effects */
#moon {
    position: absolute;
    transform: translateX(-50%);
    width: 10vh;
    height: 10vh;
    /* background-image: url('../data/moontexture.png');
    background-blend: multiply;*/
    background-color: #f0f0f0;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(240, 240, 240, 0.5);
    animation: moonAnimation 8s infinite;
    transition: all 0.1s ease;

    top: 10vh; /* Adjust the moon's position from the top */
    left: 50%; /* Place the moon horizontally in the center */
}

@keyframes moonAnimation {
    0%, 100% {
        box-shadow: 0 0 10px rgba(240, 240, 240, 0.5);
    }
    25%, 75% {
        box-shadow: 0 0 20px rgba(240, 240, 240, 0.5);
    }
    50% {
        box-shadow: 0 0 30px rgba(240, 240, 240, 0.5);
    }
}

#sun {
    position: absolute;
    transform: translateX(-50%);
    width: 10vh;
    height: 10vh;
    background-color: rgb(255, 204, 0); /* Yellow color for sun lens flare */
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(255, 204, 0, 0.5);
    transition: all 0.1s ease;
}