:root {
    --primary-color: #2a1a5e;
    --secondary-color: #3e2c8a;
    --accent-color: #663399;

    --background-color: #1a1a2e;
    --text-color: #eaeaea;

    --button-color: #4c4c6d;
    --button-hover-color: #5a5a89;
    --button-active-color: #663399;
    --button-disabled-color: #352274;
}

@keyframes fadeIn { 
    from { opacity: 0; } 
    to { opacity: 1; }
}

/* Basic styling for the layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--background-color);

    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings: "wdth" 100;

    button {
        padding: 10px 20px;
        margin: 10px;
        border: none;
        cursor: pointer;
        background-color: var(--button-color);
        color: #fff;
        border-radius: 5px;

        font-family: "Noto Sans", serif;
        font-optical-sizing: auto;
        /* font-weight: <weight>; */
        font-style: normal;
        font-variation-settings: "wdth" 100;

        &:hover {
            background-color: var(--button-hover-color);
        }

        &:disabled {
            background-color: var(--button-disabled-color);
            cursor: not-allowed;
        }

        &.selected {
            background-color: var(--button-active-color);
        }
    }

    hr {
        width: 50%;
    }
}

#main-menu-screen:not(.active), 
#background-entry-screen:not(.active), 
#transition-screen:not(.active), 
#game-screen:not(.active) {
    display: none;
}

.screen {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    min-height: calc(100vh - 40px);
    padding: 150px 20px;
    background-color: var(--primary-color);
    box-sizing: border-box;
}

#main-menu-screen.active {
    display: flex;
}

#background-entry-screen.active {
    display: flex;

    #background-entry-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: fadeIn 0.5s ease-in-out;
    }
}

#transition-screen.active {
    display: flex;

    .line {
        width: 100%;
        font-size: x-large;
        text-align: justify;
    }
}

#game-screen.active {
    display: flex;

    #choose-action-menu, #action-details-menu {
        display: none;
    }

    .subscreen {
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        background-color: var(--primary-color);
        animation: fadeIn 0.5s ease-in-out;
        text-align: justify;
        height: 100%;
        width: 100%;
    }

    #choose-action-menu.active {
        display: flex;
    }

    #action-details-menu.active {
        display: flex;
    }


    /* ui should be fixed to the top right corner */
    #ui {
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        background-color: var(--secondary-color);
        border: 1px solid var(--accent-color);
        overflow-y: scroll;
        padding: 10px;

        .progress-bar-container {
            position: relative;
            height: 20px;
            width: 100%;
            margin-bottom: 20px;
            /* text needs to appear over .progress-bar */
            
            p {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                z-index: 1;
                text-align: center;
                color: #fff;
                font-weight: bold;
            }

            .progress-bar {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 20px;
                background-color: var(--accent-color);

                &.fail {
                    background-color: red;
                }

                &.pass {
                    background-color: goldenrod;
                }

                &.victory {
                    background-color: green;
                }
            }
        }

        
    }
}