:root {
    --rarity-empty: #9d9d9d;
    --rarity-0: #9d9d9d; /* Poor */
    --rarity-1: #ffffff; /* Common */
    --rarity-2: #1eff00; /* Uncommon */
    --rarity-3: #0070dd; /* Rare */
    --rarity-4: #a335ee; /* Epic */
    --rarity-5: #ff8000; /* Legendary */
    --rarity-6: #e6cc80; /* Artifact */
    --rarity-7: #00ccff; /* Heirloom */

    --button-color: #9bff9e;
    --button-border: #4db050;
    --danger-button-color: #cd5c5c;
    --danger-button-border: #a84c4c;

    --ui-background-color: #99999999;
    --menu-background-color: #555555dd;
    --table-highlight-color: #ffffff55;
    --table-background-color: #ffffffaa;

    --character-shadow-inner: #3f3f3f;
    --pavement-upper-color: #999;
    --pavement-bottom-color: #444;
    --back-buildings-filter: #ace0f5ab;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

    font-size: 1.25rem;
    

    button {
        background-color: var(--button-color);
        border: 2px solid var(--button-border);
    }

    .collectableTable,
    .shopItemTable {
        min-width: 120px;
        max-width: 240px;

        text-align: center;

        background-color: var(--table-background-color);

        th, thead, tfoot {
            background-color: var(--table-highlight-color);
        }
    }

    .comboTable {
        width: 240px;

        text-align: center;

        th, thead, tfoot {
            background-color: var(--table-highlight-color);
        }
    }
}

#mainView {
    #backgroundLayers {
        #cityView {
            #character {
                position: absolute;
                left: 50vw;
                top: 75vh;
                z-index: 0;

                width: 20vh;
                height: 20vh;
                translate: -50% -50%;

                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../images/character.png');
                animation: characterAnimation 2s infinite;
            }

            #characterShadow {
                position: absolute;
                left: 50vw;
                top: 75vh;
                z-index: -1;

                width: 20vh;
                height: 10vh;
                translate: -50% -20%;

                border-radius: 100%;
                background: radial-gradient(ellipse at center, var(--character-shadow-inner), transparent, transparent);
                animation: characterAnimation 2s infinite;
            }

            #pavement {
                position: absolute;
                bottom: 0;
                z-index: -2;

                width: 100vw;
                height: 30vh;

                background: linear-gradient(to bottom, var(--pavement-upper-color), var(--pavement-bottom-color));
            }

            #trees {
                position: absolute;
                top: 50vh;
                z-index: -3;

                width: 100vw;
                height: 20vh;
                background-size: auto 100%;

                background-repeat: repeat-x;
                background-image: url('../images/environments/trees.png');
                background-blend-mode: multiply;
                animation: parallaxWobble3 5s ease-in-out infinite;
            }

            #frontBuildings {
                position: absolute;
                top: 30vh;
                z-index: -3;

                width: 100vw;
                height: 40vh;
                background-size: auto 100%;

                background-repeat: repeat-x;
                background-image: url('../images/environments/buildings.png');
                background-blend-mode: multiply;
                animation: parallaxWobble2 5s ease-in-out infinite;
            }

            #backBuildings {
                position: absolute;
                top: 0;
                z-index: -4;

                width: 100vw;
                height: 70vh;
                background-size: auto 100%;

                background-repeat: repeat-x;
                background-image: url('../images/environments/buildings.png');
                background-color: var(--back-buildings-filter);
                background-blend-mode: multiply;
                animation: parallaxWobble1 5s ease-in-out infinite;
            }
        }

        /*#forestView {
            #character {}
    
        }
    
        #waterView {
            #character {}
        }*/
    }

    #menuButton {
        position: absolute;
        top: 0;
        left: 0;


        width: 80px;
        height: 80px;
    }

    #menu {
        position: absolute;
        top: 80px;
        left: 0;

        flex-direction: column;
        justify-content: center;
        width: 200px;
        box-sizing: border-box;

        padding: 20px;

        background-color: var(--ui-background-color);

        button {
            margin: 5px 0;
            padding: 5px;
            width: 160px;
        }

        #resetMenuButton,
        #exitMenuButton {
            background-color: var(--danger-button-color);
            border: 2px solid var(--danger-button-border);
        }
    }

    #playerDetails {
        position: absolute;
        top: 0;
        right: 0;

        box-sizing: border-box;
        height: 80px;
        padding: 25px;

        background-color: var(--ui-background-color);

        p {
            height: 30px;
            padding: 0;
            margin: auto auto;
        }
    }

    #messageOutput {
        position: absolute;
        top: 50vh;
        left: 50vw;

        padding: 5px;
        margin: 0;
        translate: -50% -100%;

        table {
            animation: rareItemAnimation 3s infinite;
            animation-iteration-count: 1;
            opacity: 0;

            margin: 0;
            border: 2pt solid black;
            border-radius: 5px;
        }

        p {
            animation: commonitemAnimation 2s infinite;
            animation-iteration-count: 1;
            opacity: 0;

            text-align: center;

            margin: 0;
            border-radius: 5px;
            border: 1pt solid black;
            padding: 5px;
        }
    }
}

/*#region Animations*/
@keyframes characterAnimation {

    0%,
    100% {
        transform: rotate(0deg) scaleX(0.95) scaleY(1.05);
    }

    25% {
        transform: rotate(-5deg) translateX(-5vw) scaleX(1.05) scaleY(0.95);
    }

    50% {
        transform: rotate(0deg) scaleX(0.95) scaleY(1.05);
    }

    75% {
        transform: rotate(5deg) translateX(5vw) scaleX(1.05) scaleY(0.95);
    }
}

@keyframes parallaxWobble1 {

    0%,
    100% {
        background-position-x: 0vw;
    }

    50% {
        background-position-x: 1vw;
    }
}

@keyframes parallaxWobble2 {

    0%,
    100% {
        background-position-x: 10vw;
    }

    50% {
        background-position-x: 12vw;
    }
}

@keyframes parallaxWobble3 {

    0%,
    100% {
        background-position-x: 20vw;
    }

    50% {
        background-position-x: 23vw;
    }
}

@keyframes commonitemAnimation {
    from {
        opacity: 0%;
    }

    20% {
        opacity: 100%;
    }

    70% {
        transform: translateY(0);
        opacity: 100%;
    }

    to {
        transform: translateY(-50px);
        opacity: 0%;
    }
}

@keyframes rareItemAnimation {
    from {
        transform: scale(0);
        opacity: 100%;
    }

    10% {
        transform: scale(1.1);
    }

    20% {
        transform: scale(1);
    }

    70% {
        transform: scale(1) translateY(0);
        opacity: 100%;
    }

    to {
        transform: scale(1) translateY(-50px);
        opacity: 0%;
    }
}
/*#endregion Animations*/

#collectionView {
    position: absolute;
    top: 50vh;
    left: 50vw;

    width: 95vw;
    height: 80vh;
    transform: translate(-50%, -50%);

    background: var(--menu-background-color);

    #closeCollectionButton {
        position: inherit;
        top: 0;
        right: 0;

        width: 50px;
        height: 50px;
    }

    #collectionViewOutput {
        box-sizing: border-box;
        padding: 15px;
        margin: 0;
        height: inherit;
        width: inherit;

        overflow-y: scroll;

        .collectablesGridTitle {
            text-align: center;
            padding: 0;
        }

        .collectablesGridSubtitle {
            text-align: left;
            padding: 0;
        }

        .collectablesGrid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
            grid-gap: 1px;
        }
        .combosGrid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            grid-gap: 1px;
        }
    }
}

#shopView {
    position: absolute;
    top: 50vh;
    left: 50vw;

    width: 95vw;
    height: 80vh;
    transform: translate(-50%, -50%);

    background: var(--menu-background-color);

    #closeShopButton {
        position: inherit;
        top: 0;
        right: 0;

        width: 50px;
        height: 50px;
    }

    #shopItemsGrid {
        box-sizing: border-box;
        padding: 15px;
        margin: 0;
        height: inherit;
        width: inherit;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 1px;
    }
}

#mapView {
    position: absolute;
    top: 50vh;
    left: 50vw;

    width: 95vw;
    height: 80vh;
    transform: translate(-50%, -50%);

    background: var(--menu-background-color);

    #closeMapButton {
        position: inherit;
        top: 0;
        right: 0;

        width: 50px;
        height: 50px;
    }

    #mapViewOutput {
        box-sizing: border-box;
        padding: 15px;
        margin: 0;
        height: inherit;
        width: inherit;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 1px;
    }
}