:root {
    --rarity-empty: #777;
    --rarity-0: #aaa; /* Poor */
    --rarity-1: #eee; /* Common */
    --rarity-2: #1eff00; /* Uncommon */
    --rarity-3: #0070dd; /* Rare */
    --rarity-4: #a335ee; /* Epic */
    --rarity-5: #ff8000; /* Legendary */
    --rarity-6: #e6cc80; /* Artifact */
    --rarity-7: #00ccff; /* Heirloom */

    --button-color: #9bff9e;
    --button-border: #4db050;
    --danger-button-color: #cd5c5c;
    --danger-button-border: #a84c4c;

    --ui-background-color: #99999999;
    --menu-background-color: #555555dd;
    --table-highlight-color: #ffffff55;
    --table-background-color: #ffffffaa;

    --loading-background: radial-gradient(ellipse at center, #00ff00, #3f3f3f);

    --character-shadow-inner: #3f3f3f;
    --character-shadow: radial-gradient(ellipse at center, #3f3f3f, transparent, transparent);
    --pavement-color: linear-gradient(#999, #444);
    --back-buildings-filter: #ace0f5ab;

    --forest-floor: linear-gradient(#240, #080);
    --canopy-filter: linear-gradient(transparent, #152b00);
    --forest-sky: linear-gradient(#87cfeb, #bee0ee);

    --wave-filter: linear-gradient(transparent, transparent, #00002255, #000022ff);
    --ocean-floor: linear-gradient(transparent, #00009999, #005);
    --ocean-sky: linear-gradient(#87cfeb, #ffffff);

    --cave-radial-gradient: radial-gradient(ellipse at bottom, transparent, #3f3f3f);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

    font-size: 1.25rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

    button {
        background-color: var(--button-color);
        border: 2px solid var(--button-border);
    }

    .collectable-table,
    .combo-table,
    .shop-item-table,
    .map-table {
        min-width: 150px;
        max-width: 180px;

        text-align: center;
        background-color: var(--table-background-color);

        tr {
            background-color: var(--table-highlight-color);
            font-weight: bold;
        }
        tr:nth-child(1) {
            height: 48px;
        }
        tr:nth-child(2) {
            height: 110px;
            background: none;
        }
        
    }

    .collectable-table {
        min-width: 110px;
        max-width: 140px;
    }

}

#loadingView {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    background: var(--loading-background);

    h1 {
        position: relative;
        top: 50vh;

        text-align: center;
        color: white;
    }
}

#mainView {
    #backgroundLayers {
        #cityView {
            #character {
                position: absolute;
                left: 50vw;
                top: 75vh;
                z-index: 0;

                width: 20vh;
                height: 20vh;
                translate: -50% -50%;

                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../images/character.png');
                animation: cityCharacterAnimation 3s infinite;
            }

            #characterShadow {
                position: absolute;
                left: 50vw;
                top: 75vh;
                z-index: -1;

                width: 20vh;
                height: 10vh;
                translate: -50% -20%;

                border-radius: 100%;
                background: var(--character-shadow);
                animation: cityCharacterAnimation 3s infinite;
            }

            #pavement {
                position: absolute;
                top: 70vh;
                z-index: -2;

                width: 100vw;
                height: 30vh;

                background: var(--pavement-color);
            }

            #trees {
                position: absolute;
                top: 50vh;
                z-index: -3;

                width: 100vw;
                height: 20vh;

                background-size: auto 100%;
                background-repeat: repeat-x;
                background-image: url('../images/environments/citytrees.png');
                background-blend-mode: multiply;
                animation: parallaxWobble3 5s ease-in-out infinite;
            }

            #frontBuildings {
                position: absolute;
                top: 30vh;
                z-index: -3;

                width: 100vw;
                height: 40vh;
                background-size: auto 100%;

                background-repeat: repeat-x;
                background-image: url('../images/environments/buildings.png');
                background-blend-mode: multiply;
                animation: parallaxWobble2 5s ease-in-out infinite;
            }

            #backBuildings {
                position: absolute;
                top: 0;
                z-index: -4;

                width: 100vw;
                height: 70vh;
                background-size: auto 100%;

                background-repeat: repeat-x;
                background-image: url('../images/environments/buildings.png');
                background-color: var(--back-buildings-filter);
                background-blend-mode: multiply;
                animation: parallaxWobble1 5s ease-in-out infinite;
            }
        }

        #forestView {
            #character {
                position: absolute;
                left: 50vw;
                top: 75vh;
                z-index: -1;

                width: 20vh;
                height: 20vh;
                translate: -50% -50%;

                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../images/character.png');
                animation: forestCharacterAnimation 3s infinite;
            }

            #bugnet {
                position: relative;
                left: 95%;
                top: 40%;
                z-index: 0;

                width: 13vh;
                height: 13vh;
                translate: -50% -50%;
                rotate: 0deg;

                border-radius: 100%;
                background-size: cover;
                background-image: url('../images/shop/bugnet.png');
            }

            #forestFloor {
                position: absolute;
                bottom: 0;
                z-index: -2;

                width: 100vw;
                height: 30vh;

                background: var(--forest-floor);
            }

            #frontTrees {
                position: absolute;
                top: 50vh;
                z-index: -3;

                width: 100vw;
                height: 20vh;
                background-size: auto 100%;

                background-repeat: repeat-x;
                background-image: var(--canopy-filter), url('../images/environments/foresttrees.png');
                background-blend-mode: multiply;
                animation: parallaxWobble3 5s ease-in-out infinite;
            }

            #backTrees {
                position: absolute;
                top: 30vh;
                z-index: -4;

                width: 100vw;
                height: 40vh;
                background-size: auto 100%;

                background-repeat: repeat-x;
                background-image: var(--canopy-filter), url('../images/environments/foresttrees.png');

                animation: parallaxWobble2 5s ease-in-out infinite;
            }

            #sky {
                position: absolute;
                top: 0;
                z-index: -5;

                width: 100vw;
                height: 70vh;

                background-image: var(--forest-sky);
            }
        }
    
        #pierView {
            #fishingrod {
                position: relative;
                left: 110%;
                top: 35%;
                z-index: 0;

                width: 20vh;
                height: 20vh;
                translate: -50% -50%;
                rotate: 10deg;

                border-radius: 100%;
                background-size: cover;
                background-image: url('../images/shop/fishingrod.png');
            }

            #character {
                position: absolute;
                left: 35vw;
                top: 30vh;
                z-index: -1;

                width: 20vh;
                height: 20vh;
                translate: -50% -50%;

                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../images/character.png');
                animation: pierCharacterAnimation 3s infinite;
            }

            #characterShadow {
                position: absolute;
                left: 33vw;
                top: 30vh;
                z-index: -2;

                width: 30vh;
                height: 10vh;
                translate: -50% -20%;

                border-radius: 100%;
                background: radial-gradient(ellipse at center, var(--character-shadow), transparent, transparent);
            }
            
            #waves {
                position: absolute;
                top: 30vh;
                z-index: -3;

                width: 100vw;
                height: 80vh;
                opacity: 0.75;

                background-repeat: repeat-x;
                background-image: var(--wave-filter), url('../images/environments/waves.png');
                animation: parallaxWobble3 5s ease-in-out infinite;
            }

            #pier {
                position: absolute;
                top: 10vh;
                z-index: -4;

                width: 40vw;
                height: 90vh;

                background-size: 100% 100%;
                background-image: url('../images/environments/pierlayer.png');
            }

            #upperFishLayer {
                position: absolute;
                top: 55vh;
                z-index: -5;

                width: 100vw;
                height: 40vh;
                background-size: auto 100%;

                background-repeat: repeat-x;
                background-image: url('../images/environments/fishlayer.png');
                background-blend-mode: multiply;
                animation: scroll 10s linear infinite;
            }
            
            #lowerFishLayer {
                position: absolute;
                top: 60vh;
                z-index: -6;

                width: 100vw;
                height: 40vh;
                background-size: auto 100%;
                rotate: 180deg;

                background-repeat: repeat-x;
                background-image: url('../images/environments/fishlayer.png');

                animation: scroll 10s linear infinite;
            }
            
            #oceanFloor {
                position: absolute;
                top: 60vh;
                z-index: -7;

                width: 100vw;
                height: 40vh;
                background-size: auto 100%;

                background: var(--ocean-floor);
            }
            
            #sun {
                position: absolute;
                top: 10vh;
                right: 10vw;
                z-index: -8;

                width: 10vh;
                height: 10vh;
                transform: translate(-50%, -50%);
                border-radius: 50%;

                background-color: rgb(255, 204, 0);
                box-shadow: 0 0 50px rgba(255, 204, 0, 0.5);
            }

            #sky {
                position: absolute;
                top: 0vh;
                z-index: -9;

                width: 100vw;
                height: 100vh;
                background-size: auto 100%;

                background: var(--ocean-sky);
            }

        }
        
        #caveView {
            #foregroundRocks {
                position: absolute;
                top: 0;
                z-index: 0;

                width: 100vw;
                height: 100vh;
                background-size: auto 100%;

                background-size: 100% 100%;
                background-image: var(--cave-radial-gradient), url('../images/environments/caveforeground.png');
                background-blend-mode: multiply;
            }

            #pickaxe {
                position: relative;
                left: 90%;
                top: 50%;
                z-index: -1;

                width: 5vh;
                height: 5vh;
                translate: -50% -50%;
                rotate: 10deg;

                border-radius: 100%;
                background-size: cover;
                background-image: url('../images/shop/pickaxe.png');
            }
            #character {
                position: absolute;
                left: 50vw;
                top: 90vh;
                z-index: -2;

                width: 10vh;
                height: 10vh;
                translate: -50% -50%;

                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../images/character.png');
                animation: caveCharacterAnimation 3s infinite;
            }

            #characterLight {
                position: absolute;
                left: 50vw;
                top: 90vh;
                z-index: -3;

                width: 40vh;
                height: 40vh;
                translate: -50% -50%;

                border-radius: 100%;
                background: radial-gradient(ellipse at center, #fff78667, transparent, transparent);
            }

            #caveWalls {
                position: absolute;
                top: 0;
                z-index: -4;

                width: 100vw;
                height: 140vh;
                background-size: auto 100%;

                background-size: 100% 100%;
                background-image: url('../images/environments/cavewalls.png');
            }

            #caveFloor {
                position: absolute;
                top: 60vh;
                z-index: -5;

                width: 100vw;
                height: 40vh;
                background-size: auto 100%;

                background: linear-gradient(#471e02, #421e09);
            }
        }
    }

    #menuButton {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        width: 80px;
        height: 80px;
    }

    #menu {
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 2;

        flex-direction: column;
        justify-content: center;
        width: 200px;
        box-sizing: border-box;

        padding: 20px;

        background-color: var(--ui-background-color);

        button {
            margin: 5px 0;
            padding: 5px;
            width: 160px;
            height: 40px;
        }

        #resetMenuButton,
        #exitMenuButton {
            background-color: var(--danger-button-color);
            border: 2px solid var(--danger-button-border);
        }
    }

    #playerDetails {
        position: absolute;
        top: 0;
        right: 0;

        box-sizing: border-box;
        height: 80px;
        padding: 15px;

        background-color: var(--ui-background-color);

        p {
            padding: 0;
            margin: auto auto;
            text-align: right;
        }
    }

    #messages {
        #collectableMessageOutput {
            position: absolute;
            top: 50vh;
            left: 50vw;
            z-index: 2;
    
            padding: 5px;
            margin: 0;
            translate: -50% -100%;
    
            table {
                animation: rareItemAnimation 2.5s infinite;
                animation-iteration-count: 1;
                opacity: 0;
    
                margin: 0;
                border: 2pt solid black;
                border-radius: 5px;
            }
    
            p {
                animation: commonitemAnimation 1.5s infinite;
                animation-iteration-count: 1;
                opacity: 0;
    
                text-align: center;
    
                margin: 0;
                border-radius: 5px;
                padding: 5px;
            }
        }

        #errorMessageOutput {
            position: absolute;
            top: 0;
            left: 50vw;
            z-index: 100;

            padding: 10px;
            color: red;
            background-color: white;
            text-align: center;
            translate: -50% 0;
        }
    
        #saveMessageOutput {
            position: absolute;
            bottom: 30px;
            z-index: 4;
    
            padding: 10px;
            margin: 0;

            p {
                animation: saveAnimation 3s infinite;
                animation-iteration-count: 1;
                opacity: 0;
    
                text-align: center;
                color: white;
    
                margin: 0;
                padding: 5px;
            }
        }
    
        #achievementMessageOutput {
            position: absolute;
            bottom: 30px;
            right: 0;
            z-index: 4;
    
            padding: 20px;
            margin: 0;
    
            table {
                animation: achievementAnimation 6s infinite;
                animation-iteration-count: 1;
                opacity: 0;
    
                margin: 0;
                border: 2pt solid black;
                border-radius: 5px;
            }
        }
    }
}

/*#region Animations*/
@keyframes cityCharacterAnimation {
    10% {
        transform: translateX(-20px) scaleX(1.1) scaleY(0.9);
    }
    20% {
        transform: translateX(0px) scaleX(1) scaleY(1);
    }
    30% {
        transform: translateX(20px) scaleX(1.1) scaleY(0.9);
    }
    40% {
        transform: translateX(40px) scaleX(1) scaleY(1) rotate(10deg);
    }
    45% {
        transform: translateX(40px) scaleX(-1.1) scaleY(0.9) rotate(-10deg);
    }
    50% {
        transform: translateX(40px) scaleX(-0.9) scaleY(1.1);
    }
    60% {
        transform: translateX(20px) scaleX(-1.1) scaleY(0.9);
    }
    70% {
        transform: translateX(0px) scaleX(-1) scaleY(1);
    }
    80% {
        transform: translateX(-20px) scaleX(-1.1) scaleY(0.9);
    }
    90% {
        transform: translateX(-40px) scaleX(-1) scaleY(1) rotate(10deg);
    }
    95% {
        transform: translateX(-40px) scaleX(1.1) scaleY(0.9) rotate(-10deg);
    }
    0%, 100% {
        transform: translateX(-40px) scaleX(1) scaleY(1.1);
    }
}

@keyframes parallaxWobble1 {
    0%, 100% {
        background-position-x: 0vw;
    }
    50% {
        background-position-x: 1vw;
    }
}

@keyframes parallaxWobble2 {
    0%, 100% {
        background-position-x: 10vw;
    }
    50% {
        background-position-x: 12vw;
    }
}

@keyframes parallaxWobble3 {
    0%, 100% {
        background-position-x: 20vw;
    }
    50% {
        background-position-x: 23vw;
    }
}

@keyframes commonitemAnimation {
    from {
        opacity: 0%;
    }
    20% {
        opacity: 100%;
    }
    70% {
        transform: translateY(0);
        opacity: 100%;
    }
    to {
        transform: translateY(-50px);
        opacity: 0%;
    }
}

@keyframes rareItemAnimation {
    from {
        transform: scale(0);
        opacity: 100%;
    }
    10% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(1);
    }
    70% {
        transform: scale(1) translateY(0);
        opacity: 100%;
    }
    to {
        transform: scale(1) translateY(-50px);
        opacity: 0%;
    }
}

@keyframes achievementAnimation {
    from {
        transform: scale(0);
        opacity: 100%;
    }
    5% {
        transform: scale(1.3);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1);
    }
    90% {
        transform: scale(1) translateY(0);
        opacity: 100%;
    }
    to {
        transform: scale(1) translateY(-100px);
        opacity: 0%;
    }
}

@keyframes saveAnimation {
    from, to {
        opacity: 0%;
    }
    10%, 70% {
        opacity: 100%;
    }
}

@keyframes forestCharacterAnimation {
    30% {
        transform: translateX(40px) rotate(0deg);
    }
    40% {
        transform: translateX(20px) rotate(-5deg);
    } 
    50% {
        transform: translateX(0px) rotate(5deg);
    }
    60% {
        transform: translateX(-20px) rotate(-5deg);
    }
    70% {
        transform: translateX(-50px) rotate(5deg);
    }
    90% {
        transform: translateX(-80px) rotate(-30deg) translateY(-10px);
    }
    0%, 100% {
        transform: translateX(60px) rotate(30deg) translateY(20px);
    }
}

@keyframes scroll {
    from {
        background-position-x: 0%;
    }
    to {
        background-position-x: 100%;
    }
}

@keyframes pierCharacterAnimation {
    50% {
        transform: translateX(10px) rotate(10deg) scaleX(1.1);
    }

    0%, 100% {
        transform: translateX(-20px) rotate(-20deg) scaleY(1.1);
    }
}
@keyframes caveCharacterAnimation {
    20%, 40%, 60% {
        transform: rotate(-5deg);
    }

    25%, 45%, 65% {
        transform: rotate(5deg);
    }
    95% {
        transform: rotate(-15deg) translate(-15px, -5px) scaleY(1.1) scaleX(0.9);
    }
    0%, 100% {
        transform: rotate(10deg) translate(10px, -5px);
    }
}
/*#endregion Animations*/

#collectionView {
    position: absolute;
    top: 50vh;
    left: 50vw;
    z-index: 3;

    width: 99vw;
    height: 80vh;
    transform: translate(-50%, -50%);

    background: var(--menu-background-color);

    #closeCollectionButton {
        position: inherit;
        top: 0;
        right: 0;

        width: 50px;
        height: 50px;
    }

    #collectionViewOutput {
        box-sizing: border-box;
        padding: 5px;
        margin: 0;
        height: inherit;
        width: inherit;

        overflow-y: scroll;

        .collectable-section {
            border: 2px solid white;
            margin-bottom: 10px;

            summary {
                text-align: center;
                font-size: 30px;
                color: white;
                padding: 20px 0;
                cursor: pointer;
            }
    
            h3 {
                text-align: left;
                color: white;
                padding: 0 10px;
            }
    
            .collectables-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
                grid-gap: 1px;
            }
            .combos-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
                grid-gap: 1px;
            }
        }
    }
}

#shopView {
    position: absolute;
    top: 50vh;
    left: 50vw;
    z-index: 3;

    width: 99vw;
    height: 80vh;
    transform: translate(-50%, -50%);

    background: var(--menu-background-color);

    #closeShopButton {
        position: inherit;
        top: 0;
        right: 0;

        width: 50px;
        height: 50px;
    }

    h2 {
        text-align: center;
        color: white;
        padding: 0;
    }

    #shopViewOutput {
        box-sizing: border-box;
        padding: 5px;
        margin: 0;
        height: inherit;
        width: inherit;

        overflow-y: scroll;
    
        .shop-items-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            grid-gap: 2px;
        }
    }
}

#mapView {
    position: absolute;
    top: 50vh;
    left: 50vw;
    z-index: 3;

    width: 99vw;
    height: 80vh;
    transform: translate(-50%, -50%);

    background: var(--menu-background-color);

    #closeMapButton {
        position: inherit;
        top: 0;
        right: 0;

        width: 50px;
        height: 50px;
    }

    h2 {
        text-align: center;
        color: white;
        padding: 0;
    }

    #mapViewOutput {
        box-sizing: border-box;
        padding: 5px;
        margin: 0;
        height: inherit;
        width: inherit;

        overflow-y: scroll;

        .map-locations-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            grid-gap: 1px;

            button {
                width: 100%;
                height: 50px;
            }
            button:disabled {
                background-color: var(--danger-button-color);
                border: 2px solid var(--danger-button-border);
            }
        }
    }
}