/* general */
:root {
    --body-background: #39484d;
    --article-background: #30393d;
    --button-background1: #426451;
    --button-background2: #1c8871;
    /*--tertiary: #3c949b;*/
    --body-text: #94BFBE;
    --heading-text1: #25db7d;
    --heading-text2: #2eff93;
    --drop-shadow: rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    background-color: var(--body-background);
    color: var(--body-text);
    font-family: monaco, Consolas, Lucida Console, monospace;
    font-size: 16pt;
}

/* Header */
header {
    /* background image? */
    margin: 0 auto;
    max-width: 1200px;
}

header h1 {
    text-align: center;
    font-family: 'Verdana', sans-serif;
    color: var(--text-secondary);
    font-size: 3.5em;
    animation: titleAnimation 2s ease-in-out infinite;
    cursor: pointer;
}

@keyframes titleAnimation {

    0%,
    100% {
        transform: scale(0.9);
        color: var(--heading-text1);
    }

    50% {
        transform: scale(1);
        color: var(--heading-text2);
    }
}

/* Main */
#projectsGrid {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    box-sizing: border-box;
}

#projectsGrid .link-img {
    width: 100%;
    border-radius: 5%;
    transition: all 200ms ease-in-out;
}

#projectsGrid .link-img:hover {
    cursor: pointer;
    scale: 1.05;
    box-shadow: 5px 5px var(--drop-shadow);
}

main {
    text-align: left;
    background: var(--article-background);
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--drop-shadow);
}
main h1, main h2 {
    text-align: center;
    color: var(--heading-text1);
}
main a {
    color: var(--heading-text1);
}
main a:hover {
    color: var(--heading-text2);
}


@media screen and (max-width: 900px) {
    #projectsGrid {
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
        grid-gap: 15px
    }
}

@media screen and (max-width: 600px) {
    #projectsGrid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 600px;
        grid-gap: 15px;
    }
}


/* footer */
footer {
    margin: 0 auto;
    max-width: 1200px;
}

footer button {
    margin: 5px 5px;
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    color: white;
    background-color: var(--button-background1);
    font-family: monaco, Consolas, Lucida Console, monospace;
    font-size: 14pt;
}

footer button:hover {
    cursor: pointer;
    scale: 1.05;
    background-color: var(--button-background2);
}

footer a {
    color: rgba(255, 255, 255, 0.250);
}