:root {
    --theme-color: #dd8500;

    --body-background-color: #121212;
    --main-background-color: #1e1e1e;
    --certificate-background-color: #282828;

    --text-color: white;
    --text-color-light: rgba(255, 255, 255, 0.5);

    --button-background-color: #282828;
    --button-hover-color: #323232;
    --button-accent-color: #dd8500;
    --button-red-color: #720101;
    --button-red-hover-color: #912d2d;

    --input-background-color: #323232;
    --input-background-color-hover: #282828;
    --input-background-color-special: #323232;
    --input-background-color-special-hover: #282828;

    --popup-background-color: #282828;

    --border-light-color: #72501c;
    --border-color: #dd8500;

    --link-color: #a700a7;

    --completed-color: #00ff0012;

    --subtle-drop-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}