:root {
    --theme-color: #422800;

    --body-background-color: #ffffff;
    --main-background-color: #ffffee;
    --certificate-background-color: #fff8dc;

    --text-color: black;
    --text-color-light: rgba(0, 0, 0, 0.5);

    --button-background-color: #fbeee0;
    --button-hover-color: #fff0b3;
    --button-accent-color: #422800;
    --button-red-color: #ff7777;
    --button-red-hover-color: #ff9999;

    --input-background-color: #fbeee0;
    --input-background-color-hover: #fff0b3;
    --input-background-color-special: #fbeee0;
    --input-background-color-special-hover: #fff0b3;

    --popup-background-color: #fff8dc;

    --border-light-color: #ecd268;
    --border-color: #422800;

    --link-color: purple;

    --completed-color: #8af98a54;

    --subtle-drop-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background: var(--body-background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;

    main {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 200px;
        /* border: 2px solid black; */
        height: auto;
        min-height: 848px;
        width: 600px;
        margin: 20px auto;
        padding: 20px;
        background: var(--main-background-color);

        box-shadow: var(--subtle-drop-shadow);

        &.active {
            display: flex;
            animation: fadeIn 0.5s ease-in-out;
        }

        &.closing {
            animation: fadeOut 0.5s ease-in-out;
            opacity: 0;
        }
    }

    h1 {
        font-size: 36px;
        text-align: center;
        font-family: "UnifrakturMaguntia", cursive;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        font-size: 32px;
        text-align: center;
    }

    table {
        width: 100%;
        border: 1px solid var(--border-light-color);
        margin: 20px 0;

        tr {
            th {
                text-align: left;
                padding-right: 10px;
                border-right: 1px solid var(--border-light-color);
            }

            td {
                text-align: center;
                padding-left: 10px;
                border-left: 1px solid var(--border-light-color);
            }
        }
    }

    button {
        background: var(--button-background-color);
        border: 2px solid var(--button-accent-color);
        /* border-radius: 30px; */
        box-shadow: var(--button-accent-color) 2px 2px 0 0;
        color: var(--button-accent-color);
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        padding: 0 18px;
        line-height: 40px;
        text-align: center;
        touch-action: manipulation;

        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "wdth" 100;

        &:hover {
            background: var(--button-hover-color);
            box-shadow: var(--button-accent-color) 3px 3px 0 0;
            transform: translate(-1px, -1px);
        }

        &:active {
            box-shadow: var(--button-accent-color) 1px 1px 0 0;
            transform: translate(1px, 1px);
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        box-sizing: border-box;
        background-color: var(--input-background-color);
        color: var(--text-color);
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "wdth" 100;;

        display: block;
        border: none;
        border-bottom: 2px solid var(--border-color);

        &:hover,
        &:focus {
            background-color: var(--input-background-color-hover);
        }
    }

    input[type="number"] {
        width: 100px;
        padding: 10px;
        font-size: 16px;
        box-sizing: border-box;
        color: var(--text-color);
        background-color: var(--input-background-color);
        border: none;
        border-bottom: 2px solid var(--border-color);
        
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "wdth" 100;

        &:hover,
        &:focus {
            background-color: var(--input-background-color-hover);
        }
    }

    a {
        color: var(--link-color);
    }

    select {
        width: 200px;
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        font-size: 16px;

        display: block;
        border: none;
        border-bottom: 2px solid var(--border-color);
        color: var(--text-color);
        background-color: var(--input-background-color);

        &:hover, 
        &:focus {
            background-color: var(--input-background-color-hover);
        }

        option {
            background-color: var(--input-background-color);

            &:hover {
                background-color: var(--input-background-color-hover);
            }
        }
    }

    textarea {
        height: 100px;
        width: 100%;
        resize: none;
        box-sizing: border-box;
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        font-size: 16px;
        color: var(--text-color);
        background-color: var(--input-background-color);

        display: block;
        border: none;
        border: 2px solid var(--border-color);

        &:hover, 
        &:focus {
            background-color: var(--input-background-color-hover);
        }
    }

    details {
        border: 2px solid var(--border-color);
        border-radius: 5px;
        padding: 10px;

        summary {
            cursor: pointer;
            font-size: 24px;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    input[type="radio"],
    input[type="checkbox"], 
    label {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

#notification-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    z-index: 9999;
    pointer-events: none;

    position: fixed;
    bottom: 0;
    right: 0;

    .notification {
        display: flex;
        background: var(--popup-background-color);
        padding: 20px;
        border-radius: 5px;
        text-align: right;
        animation: fadeOut 0.5s ease-in-out;
        opacity: 0;

        &.active {
            animation: fadeIn 0.5s ease-in-out;
            opacity: 1;
        }
    }
}

#popup-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    

    position: fixed;
    top: 0;
    left: 0;

    &.active {
        display: flex;
        animation: fadeIn 0.5s ease-in-out;
    }

    .popup {
        background: var(--popup-background-color);
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        max-height: 90vh;
        max-width: 90vw;
        overflow: scroll;
    }
}

#title-screen {
    text-align: center;

    #name-input {
        margin-bottom: 20px;
        background-color: var(--input-background-color-special);
        text-align: center;
    }
}

#select-course-view {
    position: relative;

    #settings-button,
    #exit-button {
        position: absolute;
        top: 10px;
        border: none;
        background: transparent;
        box-shadow: none;

        &#settings-button {
            right: 10px;
        }

        &#exit-button {
            left: 10px;
        }
    }

    .course-filter {
        display: flex;
        justify-content: center;
        gap: 10px;
        background-color: var(--border-light-color);
        border-radius: 5px 5px 0 0;
        padding: 10px;

        input[type="text"] {
            flex: 1;
        }

        select {
            width: 100px;
        }

        button {
            padding: 5px 10px;
            line-height: normal;
        }
    }

    #courses {
        overflow-y: scroll;
        flex: 1;
    }

    .course {
        padding: 5px 5px 50px 5px;
        border-top: 2px solid var(--border-color);

        table {
            padding: 20px;
        }

        &.completed {
            background: var(--completed-color);
        }

        &.filtered {
            display: none;
        }

        .course-controls {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .export-course-button {
                margin-left: auto;
            }

            .delete-course-button {
                background-color: var(--button-red-color);

                &:hover {
                    background-color: var(--button-red-hover-color);
                }
            }
        }
    }
}

#settings-view {
    .setting {
        margin-bottom: 50px;
        border-top: 2px solid var(--border-color);
    }

    .settings-controls {
        display: block;
        text-align: center;

        button {
            margin: 10px;
        }
    }
}

#course-details-view {
    .course-details-controls {
        display: block;
        text-align: center;

        button {
            margin: 10px;
        }
    }
}

#course-view {
    .question {
        margin-bottom: 50px;
        border-top: 2px solid var(--border-color);

        .question-controls {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            text-align: center;
        }
    }

    #timer {
        position: fixed;
        top: 0;
        right: 0;
        font-weight: bold;
        font-size: 24px;
        color: var(--border-color);
        background: var(--popup-background-color);
        padding: 10px;
    }
}

#course-results-anticipation-view {
    #anticipation-progress {
        width: 100%;
    }
}

#course-results-view {
    gap: 20px;
}

#course-maker-view {
    .details {
        color: var(--text-color-light);
        margin: 0;
    }

    #course-maker-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin-bottom: 40px;
        border-top: var(--border-color) 2px solid;

        label {
            display: block;
            margin-top: 10px;
        }
    }

    #course-maker-questions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin-bottom: 40px;
        border-top: var(--border-color) 2px solid;

        #course-maker-questions-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .course-maker-question {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 20px;
                border-bottom: 2px solid var(--border-color);
                margin-bottom: 10px;
                background-color: var(--certificate-background-color);

                .course-maker-question-answers {
                    h4 {
                        margin-bottom: 0;
                    }
                }

                .course-question-remove-button {
                    margin-left: auto;
                    background-color: var(--button-red-color);

                    &:hover {
                        background-color: var(--button-red-hover-color);
                    }
                }
            }
        }

        #course-maker-add-question {
            margin: auto;
            width: fit-content;
        }
    }

    #course-maker-controls {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        border-top: var(--border-color) 2px solid;

        #course-maker-return-button {
            margin-left: auto;
            background-color: var(--button-red-color);

            &:hover {
                background-color: var(--button-red-hover-color);
            }
        }

        input[type="file"] {
            display: none;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}