body {
    font-family: 'Georgia', fantasy;
    background-color: #4a332e; /* Light yellow background color */
}

h1 {
    height: 38px;
    color: #e0d1b2;
    text-shadow: 0 1px 2px var(--drop-shadow);
}

header {
    background-color: #303030;
}

main {
    color: #2a2829; /* Dark gray text color */
    background: radial-gradient(ellipse at center, #e0d1b2, #957848);
    border-radius: 4px;
    box-shadow: 20px 20px 20px var(--drop-shadow);
}

button {
    background-color: #6a483a;
}

button:hover {
    background-color: #835644;
}

input[type="text"] {
    background-color: #e0d1b2;
    color: #000;
}