body {
    background: linear-gradient(to bottom, #1a1a1a, #333);
    color: #fff;
    font-family: 'Courier New', monospace;
    transition: background 10s ease;
}

header {
    background-color: #333;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

main {
    padding: 20px;
}

#storyDetails {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#storyDetailsControls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button:hover {
    filter: brightness(1.2);
}