/* General */
:root {
  --Black: #000;
  --White: #fff;

  --h2-background: #3A2513; /* Bistre */
  --CafeNoir: #543518;
  --main-background: #6c4f37d0; /* Coffee */
  --th-background: #8a654b; /* Raw Umber */
  --td-background: #a97c57; /* Chamoisee */
  --Dun: #d9c1a8;
  --Almond: #F0D9C0;
  --gold: #c69e40;
  --ForestGreen: #388E3C;
  --PigmentGreen: #4db050;

  --DropShadow: rgba(0, 0, 0, 0.4);
}

body {
  /* Backup color */
  background-color: var(--Almond);
  background-image: url("../data/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--Dun);
}

table {
  border-collapse: collapse;
  border: 1px solid var(--th-background);
}

th, td {
  padding: 6px;
  border-bottom: 1px solid var(--th-background);
}

th {
  background-color: var(--th-background);
}
td {
  background-color: var(--td-background);
}

button {
  padding: 10px 20px;
  margin: 30px 0px;
  background-color: var(--PigmentGreen);
  border: none;
  color: var(--Almond);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 6px;
  box-shadow: 0 4px 6px var(--DropShadow);
}

button:hover {
  background-color: var(--ForestGreen);
  transform: scale(1.05);
}

/* header */
header button,
#buttonFiller {
  margin: 0px;
  width: 60px;
}

header {
  padding: 10px 0;
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

header h1 {
  font-size: 36px;
  color: #fff;
  font-family: 'Luminari', 'Georgia', Fantasy;
  text-align: center;
  text-shadow: 2px 2px 4px var(--DropShadow);
  animation: headingAnimation 2s ease-in-out infinite;
}

@keyframes headingAnimation {
  0%,
  100% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }
}

/* main window */
main {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  margin: auto auto 100px auto;
  background-image: url('../data/texture.jpg'); 
  background-size: cover;
  background-blend-mode: color;
  background-color: var(--main-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--DropShadow);
  max-width: 1000px;
}

@keyframes randomiseAnimation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  30% {
    transform: scale(0) /*rotate(360deg)*/;
  }
  90% {
    transform: scale(1.05) rotate(0deg);
  }
  100% {
    transform: scale(1);
  }
}

.animate {
  animation: randomiseAnimation 0.2s ease-out forwards;
}

main h2 {
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px auto;
  text-align: center;
  font-size: 24px;
  color: var(--Almond);
  background-color: var(--h2-background);
}

/* character info */
#characterInfo table {
  width: 100%;
  table-layout: fixed;
  margin: 10px 0;
}
#characterInfo th,
#characterInfo td {
  text-align: left;
}
#characterInfo a {
  color: var(--Almond);
}

/* character attributes */
#abilitiesElement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  margin: 10px 0;
}
#abilitiesElement td {
  min-height: 60px;
  font-size: 32pt;
}

/* character skills */
#skillsElement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  margin: 10px 0;
}
#skillsElement th {
  width: 80%;
}
#skillsElement td {
  width: 20%;
}
.proficient th,
.proficient td {
  color: var(--Almond);
  background-color: var(--gold);
}

/* Alignment Visual */
#alignmentVisualElement th,
#alignmentVisualElement td {
  text-align: center;
  min-width: 20px;
  width: 40px;
  min-height: 20px;
  height: 30px;
  padding: 0;
}
#alignmentVisualElement td {
  border: 1px solid var(--th-background);
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  left: 0;
}

/* mobile options */
@media only screen and (max-width: 480px) {
  .show-mobile {
    display: table-cell;
  }
  .hide-mobile {
    display: none;
  }
  #abilitiesElement {
    grid-template-columns: repeat(2, 1fr);
  }
  #skillsElement {
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 481px) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: table-cell;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    display: grid;
  }
}