:root {
	/* 
	 ____________________________
	| __________Border__________ |
	||__________Header__________||
	||							||
	||			 Main			||
	||__________________________||
	||__________Footer__________||
	|___________Border___________|

	*/
	--top-border-height: 10vh;
	--bottom-border-height: 5vh;
	--border-width: 5vw;

	--header-top: var(--top-border-height);
	--header-left: var(--border-width);
	--header-height: 15vh;
	--header-width: calc(100vw - 2*var(--border-width));

	--main-top: calc(var(--top-border-height) + var(--header-height));
	--main-left: var(--border-width);
	--main-height: calc(100vh - 2*var(--header-height) - var(--top-border-height) - var(--bottom-border-height));
	--main-width: var(--header-width);

		--main-background: url('../assets/background.png');
		--day-filter: #ffe4c413;
		--night-filter: #38322a4f;
		--character-size: min(40vh, 40vw);

		--menu-background: #808080cc;


	--footer-bottom: var(--bottom-border-height);
	--footer-left: var(--header-left);
	--footer-height: var(--header-height);
	--footer-width: var(--header-width);
}

/*#region Animations */
@keyframes characterAnimation {
	0%, 5%, 100% {
		transform: translate(0%, 0);
	}
	25%, 30% {
		transform: translate(50%, -25%);
	}
	50%, 55% {
		transform: translate(0%, -50%);
	}
	75%, 80% {
		transform: translate(-50%, -25%);
	}
}

@keyframes sleepAnimation {
	0%,
	100% {
		transform: scaleY(0.85) scaleX(1.2);
	}
	30% {
		transform: scaleY(1.2) scaleX(0.85);
	}
}
/*#endregion Animations */

body {
	overflow: hidden;

	image-rendering: pixelated;
	font-family: "Kode Mono", monospace;
	font-size: 20px;
	background-color: black;
	color: white;

	button {
		font-family: "Kode Mono", monospace;
		font-size: 20px;
	}

	summary {
		cursor: pointer;
		text-decoration: underline;
	}
}

#borderElement {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	height: 100vh;
	width: 100vw;

	background: url('../assets/border.png');
	background-size: 100% 100%;

	pointer-events: none;
}

header {
	position: absolute;
    top: var(--header-top);
    left: var(--header-left);

    display: flex;
	flex-direction: row;
	width: var(--header-width);
	height: var(--header-height);

	button {
		flex: 1;
		height: var(--header-height);

		background-color: grey;
		border: 5px solid black;
	}
}

main {
	position: absolute;
	top: var(--main-top);
	left: var(--main-left);

	height: var(--main-height);
	width: var(--main-width);

	background-image: var(--main-background);
	background-size: 100% 100%;

	#defaultView {
		top: inherit;
		left: inherit;

		height: inherit;
		width: inherit;

		background-color: var(--day-filter);

		#characterElement {
			position: absolute;
			top: 60%;
			left: 50%;
			z-index: 2;
		
			height: var(--character-size);
			width: var(--character-size);
			translate: -50% -50%;
			background-size: var(--character-size) var(--character-size);
		}
		#characterElement.default {
			animation: characterAnimation 20s linear infinite;
		}
		#characterElement.sleep {
			animation: sleepAnimation 8s linear infinite;
		}
		#characterElement.toilet {
			background-image: url('../assets/effects/toilet.gif');
		}

		#sleepElement {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
		
			height: calc(1.5 * var(--character-size));
			width: calc(2 * var(--character-size));
			translate: -50% -50%;
		
			background-image: url('../assets/effects/sleep.gif');
			background-size: 100% 100%;
		}

		#pooContainer {
			position: absolute;
			right: 0;
			bottom: 0;

			display: grid;
			grid-template-columns: repeat(2, 1fr);
			width: 25%;
			direction: rtl;
			
			img {
				width: 100%;
			}
		}

		#newPetButton {
			position: absolute;
			left: 50%;
			bottom: 0;

			translate: -50% 0;
		}
	}
	#defaultView.sleep {
		background-color: var(--night-filter);
	}
	
	#statsMenuView {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	
		min-width: 20%;
		max-width: fit-content;

		background-color: var(--menu-background);

		span {
			text-align: right;
		}
	}
	
	#foodDropdownView {
		position: absolute;
		top: 0;
		left: 20%;
		z-index: 3;
	
		min-width: 20%;
		max-width: fit-content;
	
		background-color: grey;
	
		button {
			margin: 10px 10%;
			height: 30px;
			width: 80%;
		}
	}

	#trainingDropdownView {
		position: absolute;
		top: 0;
		left: 40%;
		z-index: 3;
	
		min-width: 20%;
		max-width: fit-content;
	
		background-color: grey;
	
		button {
			margin: 10px 10%;
			height: 30px;
			width: 80%;
		}
	}

	#gameView,
	#shopView,
	#journalView {
		background-color: var(--menu-background);

		.back-button {
			position: absolute;
		
			height: 50px;
			width: 50px;
			margin: 20px;
		}

		.content {
			position: absolute;
			left: 50%;
			top: 50%;

			translate: -50% -50%;
		}
	}

	#helpView {
		background-color: var(--menu-background);

		.back-button {
			position: absolute;
		
			height: 50px;
			width: 50px;
			margin: 20px;
		}

		.content {
			overflow: scroll;
			width: 98%;
			height: var(--main-height);
			padding: 0 2%;
			box-sizing: border-box;

			h2 {
				width: 100%;
				text-align: center;
			}

			details {
				margin-left: 10px;

				p {
					margin-top: 0;
				}
			}
		}
	}
}

footer {
	position: absolute;
	bottom: var(--footer-bottom);
    left: var(--footer-left);

    display: flex;
	flex-direction: row;
	width: var(--footer-width);
	height: var(--footer-height);

	button {
		flex: 1;
		height: var(--header-height);

		background-color: grey;
		border: 5px solid black;
	}

}