:root {
	/* 
	 ____________________________
	| __________Border__________ |
	||__________Header__________||
	||							||
	||			 Main			||
	||__________________________||
	||__________Footer__________||
	|___________Border___________|

	*/
	--border-height: 5vh;
	--border-width: 5vw;

	--header-top: var(--border-height);
	--header-left: var(--border-width);
	--header-height: 15vh;
	--header-width: calc(100vw - 2*var(--border-width));

	--main-top: calc(var(--border-height) + var(--header-height));
	--main-left: var(--border-width);
	--main-height: calc(100vh - 2*var(--header-height) - 2*var(--border-height));
	--main-width: var(--header-width);

		--main-background: url('../assets/background.png');
		--day-filter: #ffe4c413;
		--night-filter: #38322a4f;
		--character-size: min(40vh, 40vw);

		--menu-background: #808080cc;


	--footer-bottom: var(--header-top);
	--footer-left: var(--header-left);
	--footer-height: var(--header-height);
	--footer-width: var(--header-width);
}

/*#region Animations */
@keyframes characterAnimation {
	0%, 5%, 100% {
		transform: translate(0vw, 5vh);
	}
	25%, 30% {
		transform: translate(25vw);
	}
	50%, 55% {
		transform: translate(0vw, -5vh);
	}
	75%, 80% {
		transform: translate(-25vw);
	}
}

@keyframes sleepAnimation {
	0%,
	100% {
		transform: scaleY(0.85) scaleX(1.2);
	}
	30% {
		transform: scaleY(1.2) scaleX(0.85);
	}
}
/*#endregion Animations */

body {
	overflow: hidden;

	image-rendering: pixelated;
	font-family: "Kode Mono", monospace;
	font-size: 20px;
	color: white;

	button {
		font-family: "Kode Mono", monospace;
		font-size: 20px;
	}
}

#borderElement {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	height: 100vh;
	width: 100vw;

	background: url('../assets/border.png');
	background-size: 100% 100%;

	pointer-events: none;
}

header {
	position: absolute;
    top: var(--header-top);
    left: var(--header-left);

    display: flex;
	flex-direction: row;
	width: var(--header-width);
	height: var(--header-height);

	button {
		flex: 1;
		height: var(--header-height);

		background-color: grey;
		border: 5px solid black;
	}
}

main {
	position: absolute;
	top: var(--main-top);
	left: var(--main-left);

	height: var(--main-height);
	width: var(--main-width);

	background-image: var(--main-background);
	background-size: 100% 100%;

	#defaultView {
		top: inherit;
		left: inherit;

		height: inherit;
		width: inherit;

		background-color: var(--day-filter);

		#characterElement {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
		
			height: var(--character-size);
			width: var(--character-size);
			translate: -50% -50%;
			background-size: var(--character-size) var(--character-size);
		}
		#characterElement.default {
			animation: characterAnimation 20s linear infinite;
		}
		#characterElement.sleep {
			animation: sleepAnimation 8s linear infinite;
		}
		#characterElement.toilet {
			background-image: url('../assets/effects/toilet.gif');
		}

		#sleepElement {
			position: absolute;
			top: 40%;
			left: 50%;
			z-index: 1;
		
			height: 40vh;
			width: 60vh;
			translate: -50% -50%;
		
			background-image: url('../assets/effects/sleep.gif');
			background-size: 40vh 40vh;
		}
	}
	#defaultView.sleep {
		background-color: var(--night-filter);
	}
	
	#statsMenuView {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	
		min-width: 25%;
		max-width: fit-content;

		background-color: var(--menu-background);

	}
	
	#foodDropdownView {
		position: absolute;
		top: 0;
		right: 50%;
		z-index: 3;
	
		min-width: 25%;
		max-width: fit-content;
	
		background-color: grey;
	
		button {
			margin: 10px 10%;
			height: 30px;
			width: 80%;
		}
	}
	#trainingDropdownView {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 3;
	
		min-width: 25%;
		max-width: fit-content;
	
		background-color: grey;
	
		button {
			margin: 10px 10%;
			height: 30px;
			width: 80%;
		}
	}

	#gameView {
		background-color: var(--menu-background);

		.back-button {
			position: absolute;
		
			height: 50px;
			width: 50px;
			margin: 20px;
		}
	}

	#journalView {
		background-color: var(--menu-background);

		.back-button {
			position: absolute;
		
			height: 50px;
			width: 50px;
			margin: 20px;
		}
	}
}

footer {
	position: absolute;
	bottom: var(--footer-bottom);
    left: var(--footer-left);

    display: flex;
	flex-direction: row;
	width: var(--footer-width);
	height: var(--footer-height);

	button {
		flex: 1;
		height: var(--header-height);

		background-color: grey;
		border: 5px solid black;
	}

}